In [65]:
import pandas as pd

In [66]:
df = pd.read_parquet('../data/raw/raw_patents.parquet')

In [67]:
df.head()

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
0,20140380145,Rajiv,Puranik,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco
1,20140380145,Thomas,Wilsher,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco
2,20140380219,John,CARTAN,Alameda,US,2014-12-25T00:00:00.000Z,2014,2014-06-20T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,AlamedaUnited States,Silicon Valley,Alameda
3,20150000186,Barry,Freel,Ottawa,CA,2015-01-01T00:00:00.000Z,2015,2014-09-16T00:00:00.000Z,2014,1.0,C10L,1.0,C10L,Canada,OttawaCanada,Ottawa,Ottawa
4,20150000186,Robert,Graham,Ottawa,CA,2015-01-01T00:00:00.000Z,2015,2014-09-16T00:00:00.000Z,2014,1.0,C10L,1.0,C10L,Canada,OttawaCanada,Ottawa,Ottawa

In [68]:
# Visualizing the max and min values of the "grant_year" column
print(df['grant_year'].max(), df['grant_year'].min())

2021 2012

In [69]:
# Selecting the patents granted in 2019, 2020 and 2021
df = df[df['grant_year'].isin([2018, 2019, 2020])]

In [70]:
df.head()

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
3301,20180274840,Bin,FEI,Qingdao,CN,2018-09-27T00:00:00.000Z,2018,2016-06-08T00:00:00.000Z,2016,1.0,F25D,1.0,F25D,China,QingdaoChina,None,Qingdao
3336,20180274840,Jinlin,LIU,Qingdao,CN,2018-09-27T00:00:00.000Z,2018,2016-06-08T00:00:00.000Z,2016,1.0,F25D,1.0,F25D,China,QingdaoChina,None,Qingdao
3623,20180274840,Xuan,JI,Qingdao,CN,2018-09-27T00:00:00.000Z,2018,2016-06-08T00:00:00.000Z,2016,1.0,F25D,1.0,F25D,China,QingdaoChina,None,Qingdao
4893,20180274840,Xueli,CHENG,Qingdao,CN,2018-09-27T00:00:00.000Z,2018,2016-06-08T00:00:00.000Z,2016,1.0,F25D,1.0,F25D,China,QingdaoChina,None,Qingdao
6170,20180274869,FU-YUN,SHEN,Shenzhen,CN,2018-09-27T00:00:00.000Z,2018,2018-05-28T00:00:00.000Z,2018,NaN,None,NaN,None,China,ShenzhenChina,Shenzhen,Shenzhen

In [71]:
# Contando o número total de linhas do dataframe
print('Número total de linhas: ',len(df))

# Contando valores únicos por patent_id
print('Patentes únicas de 2019 a 2021: ',df['patent_id'].nunique())

Número total de linhas:  3494243
Patentes únicas de 2019 a 2021:  1174031

In [73]:
df.to_parquet('../data/processed/raw_patents_2018-2020.parquet', index=False)

In [52]:
# Contando o total de nulos ou vazios na coluna "Ecosystem"
print('Total de nulos ou vazios na coluna "Ecosystem": ',df['Ecosystem'].isnull().sum())

Total de nulos ou vazios na coluna "Ecosystem":  886771

In [53]:
# Selecionando apenas as patentes sem ecossistema e atribuindo ao df_sem_ecossistema
df_sem_ecossistema = df[df['Ecosystem'].isnull()]

In [54]:
# Visualizando as primeiras 20 linhas do df_sem_ecossistema, com as colunas 'patent_id', 'grant_year', 'city', 'country', 'Ecosystem'
df_sem_ecossistema[['patent_id', 'grant_year', 'city', 'country', 'class_distinct_count', 'class_concat', 'Ecosystem']].head(20)

,patent_id,grant_year,city,country,class_distinct_count,class_concat,Ecosystem
3301,20180274840,2018,Qingdao,CN,1.0,F25D,None
3336,20180274840,2018,Qingdao,CN,1.0,F25D,None
3623,20180274840,2018,Qingdao,CN,1.0,F25D,None
4893,20180274840,2018,Qingdao,CN,1.0,F25D,None
6492,20180274869,2018,Qinhuangdao,CN,NaN,None,None
6740,20190097688,2019,Graz,AT,1.0,H04B,None
7802,20190220574,2019,Lucknow,IN,1.0,G06F,None
12091,20200040727,2020,Xuzhou,CN,1.0,E21F,None
12162,20200063895,2020,Spinea,IT,1.0,F16L,None
25111,20180001618,2018,Corvallis,US,1.0,B41J,None
25112,20180001618,2018,Corvallis,US,1.0,B41J,None
25113,20180001618,2018,Albany,US,1.0,B41J,None
25117,20180002145,2018,MARCY L'ETOILE,FR,3.0,"H04B,B66F,B66C",None
25119,20180002145,2018,SAINT PIERRE DE VARENNES,FR,3.0,"H04B,B66F,B66C",None
25120,20180002175,2018,Susono-shi,JP,1.0,C01B,None
25122,20180002175,2018,Susono-shi,JP,1.0,C01B,None
25128,20180003223,2018,Muhlhausen,DE,1.0,F16C,None
25139,20180003886,2018,Hsin-Chu,TW,2.0,"G02B,F21V",None
25140,20180003886,2018,Hsin-Chu,TW,2.0,"G02B,F21V",None
25141,20180003886,2018,Hsin-Chu,TW,2.0,"G02B,F21V",None

In [55]:
print(df_sem_ecossistema.columns)

Index(['patent_id', 'name_first', 'name_last', 'city', 'country', 'grant_date',
       'grant_year', 'app_date', 'app_year', 'class_distinct_count',
       'class_concat', 'class_IPC_distinct_count', 'class_IPC_concat',
       'CountryName', 'CityCountry', 'Ecosystem', 'GoogleCity'],
      dtype='object')

In [56]:
# Contando países únicos no df_sem_ecossistema
print('Países únicos no df_sem_ecossistema: ',df_sem_ecossistema['country'].nunique())

Países únicos no df_sem_ecossistema:  217

In [57]:
# Contando cidades únicas no df_sem_ecossistema
print('Cidades únicas no df_sem_ecossistema: ',df_sem_ecossistema['city'].nunique())

Cidades únicas no df_sem_ecossistema:  79063

In [58]:
# Contando valores únicos na coluna "CityCountry" no df_sem_ecossistema
print('Valores únicos na coluna "CityCountry" no df_sem_ecossistema: ',df_sem_ecossistema['CityCountry'].nunique())

Valores únicos na coluna "CityCountry" no df_sem_ecossistema:  80745

In [59]:
# Criando novo dataframe chamado df_citycountry, com as colunas 'CityCountry', 'city', 'country'
df_citycountry = df_sem_ecossistema[['CityCountry', 'city', 'country']]

In [60]:
# Visualizando as primeiras 20 linhas do df_citycountry
df_citycountry.head(20)

                             CityCountry                      city country
3301                        QingdaoChina                   Qingdao      CN
3336                        QingdaoChina                   Qingdao      CN
3623                        QingdaoChina                   Qingdao      CN
4893                        QingdaoChina                   Qingdao      CN
6492                    QinhuangdaoChina               Qinhuangdao      CN
6740                         GrazAustria                      Graz      AT
7802                        LucknowIndia                   Lucknow      IN
12091                        XuzhouChina                    Xuzhou      CN
12162                        SpineaItaly                    Spinea      IT
25111             CorvallisUnited States                 Corvallis      US
25112             CorvallisUnited States                 Corvallis      US
25113                AlbanyUnited States                    Albany      US
25117               MARCY L'ETOILEFrance            MARCY L'ETOILE      FR
25119     SAINT PIERRE DE VARENNESFrance  SAINT PIERRE DE VARENNES      FR
25120                    Susono-shiJapan                Susono-shi      JP
25122                    Susono-shiJapan                Susono-shi      JP
25128                  MuhlhausenGermany                Muhlhausen      DE
25139  Hsin-ChuTaiwan, Province of China                  Hsin-Chu      TW
25140  Hsin-ChuTaiwan, Province of China                  Hsin-Chu      TW
25141  Hsin-ChuTaiwan, Province of China                  Hsin-Chu      TW

In [61]:
df_citycountry.shape

(886771, 3)

In [62]:
# Eliminando do df_citycountry os valores duplicados na coluna "CityCountry"
df_citycountry = df_citycountry.drop_duplicates(subset=['CityCountry'])
df_citycountry.shape

(80745, 3)

In [63]:
# Visualizando o df_citycountry com a coluna "CityCountry" em ordem alfabética
df_citycountry.sort_values(by=['CityCountry'], inplace=True)
print(df_citycountry)

                             CityCountry                    city country
1496989            Hitachinaka-shi,Japan      . Hitachinaka-shi,      JP
5557902  #08-09/10, Medtech HubSingapore  #08-09/10, Medtech Hub      SG
6481534      #206 EdgewaterUnited States          #206 Edgewater      US
1491895               &Yokosuka-shiJapan           &Yokosuka-shi      JP
7342655         'S GravenhageNetherlands           'S Gravenhage      NL
...                                  ...                     ...     ...
7580018          Ümraniye/IstanbulTurkey       Ümraniye/Istanbul      TR
1029514        Üsküdar -  IstanbulTurkey     Üsküdar -  Istanbul      TR
192176            Üsküdar/?stanbulTurkey        Üsküdar/?stanbul      TR
7580017           Üsküdar/IstanbulTurkey        Üsküdar/Istanbul      TR
973383          ‘s-GravenhageNetherlands           ‘s-Gravenhage      NL

[80745 rows x 3 columns]

In [64]:
"‘s-GravenhageNetherlands" == "’s-GravenhageNetherlands"

False