# <center><font color='#D0533E'><b>Startup Genome</b></font> - <font color='#0D0D2F'><b>Grupo 3</b></font></center>

<center><font color='#02231c'><b>Módulo 1</font></b></center>
<p><center>
<table>
  <tr>
    <th><b>Nome</b></th>
    <th><b>Contato</b></th>
  </tr>
  <tr>
    <td>Fulano1</td>
    <td><a href="https://www.linkedin.com/in/leo-koki-shashiki/">Linkedin</a></td>
  </tr>
  <tr>
    <td>Rafael Costa</td>
    <td><a href="https://www.linkedin.com/in/rafael-costa-a642752b/">Linkedin</a></td>
  </tr>
  <tr>
    <td>Thiago Seronni Mendonça</td>
    <td><a href="https://www.linkedin.com/in/thiagoseronni/">Linkedin</a></td>
  </tr>
  <tr>
    <td>Leo Koki Shashiki</td>
    <td><a href="https://www.linkedin.com/in/leo-koki-shashiki/">Linkedin</a></td>
  </tr>
</font></table>

Startup Genome’s Global Startup Ecosystem Report (GSER) is powered by the world’s most comprehensive and quality controlled dataset on startup ecosystems. Informed by information on 3.5 million startups across 290 global ecosystems, our data and insights are the product of over a decade of independent research and policy work.

GSER 2023 ranks the top 30 and 10 runner-up global ecosystems, and includes a top 100 ranking of emerging ecosystems. It also takes a look at startup communities from a regional perspective, separately ranking ecosystems in Africa, Asia, Europe, Latin America, MENA, North America, and Oceania.

Referências: https://www.ibm.com/docs/en/spss-modeler/saas?topic=data-writing-description-report

Miro:   https://miro.com/app/board/uXjVMC_icTM=/ \
Trello: https://trello.com/b/bjkRHTjw/sirius-proj-1 \
GitHub: https://github.com/joaomorossini/startup_genome

# BIBLIOTECAS UTILIZADAS

In [1]:
import pandas as pd
import os
import sys

In [2]:
from src.utils.UsefulPaths import Paths
paths = Paths()

# Importando Datasets

In [3]:
df_abstract = pd.read_parquet(paths.raw_parquet_abstract)
df_abstract.head(2)

   publication_number                                           abstract
0         20080063564  Embodiments of techniques for determining the ...
1         20080025285  A method for supporting frequency hopping of a...

In [4]:
df_ipc = pd.read_excel(paths.raw_ipc_titles)
df_ipc.head(5)

    IPC                                              title
0  G16Y  INFORMATION AND COMMUNICATION TECHNOLOGY SPECI...
1  F24J                                                NaN
2  F21H  INCANDESCENT MANTLES; OTHER INCANDESCENT BODIE...
3  G16B  BIOINFORMATICS, i.e. INFORMATION AND COMMUNICA...
4  A01P  BIOCIDAL, PEST REPELLANT, PEST ATTRACTANT OR P...

In [5]:
df_list_of_companies = pd.read_csv(filepath_or_buffer=paths.raw_list_of_companies,header=None,
                                   names=['site','country','city_region','company'])
df_list_of_companies.head(2)

                  site        country city_region           company
0  axialhealthcare.com  United States   Nashville  Axial Healthcare
1         athearth.com          Japan           1          Athearth

In [3]:
df_raw_patents = pd.read_parquet(paths.raw_parquet_raw_patents)
df_raw_patents.head(2)

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
0,20140380145,Rajiv,Puranik,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco
1,20140380145,Thomas,Wilsher,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco

In [7]:
df_table_for_applicants = pd.read_csv(filepath_or_buffer=paths.raw_table_for_applicants, header=None, names=['patent_id','owner','city_region','country','year'])
df_table_for_applicants.head(10)

     patent_id            owner      city_region country  year
0  20130080687  Siamack Nemazie  Los Altos Hills      US  2013
1  20130080687      NGON VAN LE          Fremont      US  2013
2  20130031357     Dieter Weiss          Munchen      DE  2013
3  20130031357   Gisela Meister          Munchen      DE  2013
4  20130031357     Jan Eichholz          Munchen      DE  2013
5  20130031357   Florian Gawlas          Munchen      DE  2013
6  20130075135      Jee-Soo MOK      Gyeonggi-do      KR  2013
7  20130077850   Takehiro Hirai           Ushiku      JP  2013
8  20130077850      Kozo Miyake      Hitachinaka      JP  2013
9  20130077850    Junko Konishi      Hitachinaka      JP  2013

# Data Understanding

## 1 - What is the format of the data?

The data is in CSV and XLSX format, but the files larger than 1GB were converted to Parquet. This improved reading performance and reduced storage space usage.

## 2 Identify the method used to capture the data--for example, ODBC.

The data provided was in csv and xlsx extension and we are using pandas library to read it.

## 2 - How large is the database (in numbers of rows and columns)?

In [8]:
print(f'Dataset abstract.parquet         |  Row: {df_abstract.shape[0]}\t Columns: {df_abstract.shape[1]}')
print(f'Dataset IPC Titles.xlsx          |  Row: {df_ipc.shape[0]}\t\t Columns: {df_ipc.shape[1]}')
print(f'Dataset ListOfCompanies.csv      |  Row: {df_list_of_companies.shape[0]}\t Columns: {df_list_of_companies.shape[1]}')
print(f'Dataset raw_patents.parquet      |  Row: {df_raw_patents.shape[0]}\t Columns: {df_raw_patents.shape[1]}')
print(f'Dataset table_for_applicants.csv |  Row: {df_table_for_applicants.shape[0]}\t Columns: {df_table_for_applicants.shape[1]}')

Dataset abstract.parquet         |  Row: 4184916	 Columns: 2
Dataset IPC Titles.xlsx          |  Row: 633		 Columns: 2
Dataset ListOfCompanies.csv      |  Row: 4236727	 Columns: 4
Dataset raw_patents.parquet      |  Row: 9830924	 Columns: 17
Dataset table_for_applicants.csv |  Row: 1417244	 Columns: 5

## 3 - Data Quality

In [9]:
list_df = [df_abstract, df_ipc, df_list_of_companies, df_raw_patents, df_table_for_applicants]
dict_df = {
    'abst': 'Abstract',
    'ipc': 'IPC Titles',
    'comp': 'List of Companies',
    'pat': 'Raw Patents',
    'app': 'Table for Applicants'
}

### Análise de Nulos

In [10]:
null_list = []
for df, values in zip(list_df, dict_df.values()):
    df_null_percentage = pd.DataFrame(df.isnull().sum()* 100 / len(df)).reset_index()
    df_null_percentage.rename(columns={'index': values, 0:'null_percentage'}, inplace = True)

    df_null_percentage.null_percentage = df_null_percentage.null_percentage.round(1)
    null_list.append(df_null_percentage)
    print('#'*100 + '\n')
    print(values+ '\n')
    display(df_null_percentage.sort_values(by = 'null_percentage', ascending=False))
    print('_'*100 + '\n')

####################################################################################################

Abstract

             Abstract  null_percentage
0  publication_number              0.0
1            abstract              0.0

____________________________________________________________________________________________________

####################################################################################################

IPC Titles

  IPC Titles  null_percentage
1      title              0.2
0        IPC              0.0

____________________________________________________________________________________________________

####################################################################################################

List of Companies

  List of Companies  null_percentage
3           company             39.6
2       city_region             32.8
1           country             28.2
0              site              0.0

____________________________________________________________________________________________________

####################################################################################################

Raw Patents

                 Raw Patents  null_percentage
15                 Ecosystem             25.7
16                GoogleCity             24.4
12          class_IPC_concat              0.5
9       class_distinct_count              0.4
11  class_IPC_distinct_count              0.4
10              class_concat              0.4
14               CityCountry              0.0
13               CountryName              0.0
0                  patent_id              0.0
1                 name_first              0.0
7                   app_date              0.0
6                 grant_year              0.0
5                 grant_date              0.0
4                    country              0.0
3                       city              0.0
2                  name_last              0.0
8                   app_year              0.0

____________________________________________________________________________________________________

####################################################################################################

Table for Applicants

  Table for Applicants  null_percentage
2          city_region              0.5
0            patent_id              0.0
1                owner              0.0
3              country              0.0
4                 year              0.0

____________________________________________________________________________________________________

### Análise de Duplicados

In [11]:
duplicated_list = []
for df, values in zip(list_df, dict_df.values()):
    df_duplicated = pd.DataFrame(df.duplicated().value_counts()).reset_index()
    df_duplicated.rename(columns={'index': 'duplicated', 0: values}, inplace = True)
    duplicated_list.append(df_duplicated)

    print('#'*100 + '\n')
    print(values+ '\n')
    display(df_duplicated)
    print('_'*100 + '\n')

####################################################################################################

Abstract

   duplicated    count
0       False  4184916

____________________________________________________________________________________________________

####################################################################################################

IPC Titles

   duplicated  count
0       False    633

____________________________________________________________________________________________________

####################################################################################################

List of Companies

   duplicated    count
0       False  4236677
1        True       50

____________________________________________________________________________________________________

####################################################################################################

Raw Patents

   duplicated    count
0       False  9829883
1        True     1041

____________________________________________________________________________________________________

####################################################################################################

Table for Applicants

   duplicated    count
0       False  1417141
1        True      103

____________________________________________________________________________________________________

## 4 - Does the data include characteristics relevant to the business question?

Apparently they have all data needed to answer the questions


## 5 - What data types are present (symbolic, numeric, etc.)?

In [12]:
list_dtypes = []
for df, values in zip(list_df, dict_df.values()):

    df_dtypes = pd.DataFrame(df.dtypes).reset_index()
    df_dtypes.rename(columns={'index': values, 0:'data_type'}, inplace=True )
    list_dtypes.append(df_dtypes)

    print('#'*100 + '\n')
    print(values+ '\n')
    display(df_dtypes)
    print('_'*100 + '\n')

####################################################################################################

Abstract

             Abstract data_type
0  publication_number     int64
1            abstract    object

____________________________________________________________________________________________________

####################################################################################################

IPC Titles

  IPC Titles data_type
0        IPC    object
1      title    object

____________________________________________________________________________________________________

####################################################################################################

List of Companies

  List of Companies data_type
0              site    object
1           country    object
2       city_region    object
3           company    object

____________________________________________________________________________________________________

####################################################################################################

Raw Patents

                 Raw Patents data_type
0                  patent_id     int64
1                 name_first    object
2                  name_last    object
3                       city    object
4                    country    object
5                 grant_date    object
6                 grant_year     int64
7                   app_date    object
8                   app_year     int64
9       class_distinct_count   float64
10              class_concat    object
11  class_IPC_distinct_count   float64
12          class_IPC_concat    object
13               CountryName    object
14               CityCountry    object
15                 Ecosystem    object
16                GoogleCity    object

____________________________________________________________________________________________________

####################################################################################################

Table for Applicants

  Table for Applicants data_type
0            patent_id     int64
1                owner    object
2          city_region    object
3              country    object
4                 year     int64

____________________________________________________________________________________________________

## 6 - Did you compute basic statistics for the key attributes? What insight did this provide into the business question?

## 7 - Are you able to prioritize relevant attributes? If not, are business analysts available to provide further insight?

In [13]:
##

## 8 - What sort of hypotheses have you formed about the data?

## 9 - Which attributes seem promising for further analysis?

## 10 - Have your explorations revealed new characteristics about the data?

## 11 - How have these explorations changed your initial hypothesis?

## 12 - Can you identify particular subsets of data for later use?

## 13 - Take another look at your data mining goals. Has this exploration altered the goals?

# Data Cleaning

## List of Companies

### Removendo Duplicadas

In [14]:
df_list_of_companies.duplicated().value_counts()

False    4236677
True          50
Name: count, dtype: int64

In [15]:
df_list_of_companies.drop_duplicates(inplace=True)

In [16]:
df_list_of_companies.head()

                  site        country city_region           company
0  axialhealthcare.com  United States   Nashville  Axial Healthcare
1         athearth.com          Japan           1          Athearth
2      madebykawet.com         France       Paris             Kawet
3       vw-aabenraa.dk        Denmark    Aabenraa               NaN
4         de.babor.com        Germany      Aachen               NaN

### Tratando Nulos

In [17]:
df_list_of_companies.isnull().sum()/df_list_of_companies.shape[0]

site           0.000000
country        0.281609
city_region    0.328378
company        0.396280
dtype: float64

In [18]:
df_list_of_companies

                        site         country city_region               company
0        axialhealthcare.com   United States   Nashville      Axial Healthcare
1               athearth.com           Japan           1              Athearth
2            madebykawet.com          France       Paris                 Kawet
3             vw-aabenraa.dk         Denmark    Aabenraa                   NaN
4               de.babor.com         Germany      Aachen                   NaN
...                      ...             ...         ...                   ...
4236722           zzps.co.uk  United Kingdom  Addlestone                  ZZPS
4236723           zzspkj.com           China    Zhengzho   Shunpeng Technology
4236724           zzu.edu.cn           China         NaN  Zhengzhou University
4236725          zzzippy.com             NaN         NaN   Stump Metal Roofing
4236726     zzztraveling.com             NaN         NaN                   NaN

[4236677 rows x 4 columns]

### Enviando para pasta de arquivos processados

In [25]:
df_list_of_companies.to_csv('..\data\processed\list_of_companies.csv')

## Raw Patents

### Removendo Duplicadas

In [26]:
df_raw_patents.duplicated().value_counts()

False    9829883
True        1041
Name: count, dtype: int64

In [4]:
df_raw_patents.drop_duplicates(inplace=True)

In [28]:
df_raw_patents.head()

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
0,20140380145,Rajiv,Puranik,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco
1,20140380145,Thomas,Wilsher,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco
2,20140380219,John,CARTAN,Alameda,US,2014-12-25T00:00:00.000Z,2014,2014-06-20T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,AlamedaUnited States,Silicon Valley,Alameda
3,20150000186,Barry,Freel,Ottawa,CA,2015-01-01T00:00:00.000Z,2015,2014-09-16T00:00:00.000Z,2014,1.0,C10L,1.0,C10L,Canada,OttawaCanada,Ottawa,Ottawa
4,20150000186,Robert,Graham,Ottawa,CA,2015-01-01T00:00:00.000Z,2015,2014-09-16T00:00:00.000Z,2014,1.0,C10L,1.0,C10L,Canada,OttawaCanada,Ottawa,Ottawa

### Tratando Nulos

In [46]:
df_raw_patents.isnull().sum()/df_list_of_companies.shape[0]*100

patent_id                    0.000000
name_first                   0.002455
name_last                    0.040503
city                         0.013950
country                      0.001109
grant_date                   0.000000
grant_year                   0.000000
app_date                     0.000000
app_year                     0.000000
class_distinct_count         0.952633
class_concat                 0.952633
class_IPC_distinct_count     0.952633
class_IPC_concat             1.170469
CountryName                  0.011613
CityCountry                  0.000000
Ecosystem                   59.538431
GoogleCity                  56.562702
dtype: float64

### Alterando DTypes

In [31]:
df_raw_patents.dtypes

patent_id                     int64
name_first                   object
name_last                    object
city                         object
country                      object
grant_date                   object
grant_year                    int64
app_date                     object
app_year                      int64
class_distinct_count        float64
class_concat                 object
class_IPC_distinct_count    float64
class_IPC_concat             object
CountryName                  object
CityCountry                  object
Ecosystem                    object
GoogleCity                   object
dtype: object

In [43]:
df_raw_patents.grant_date = pd.to_datetime(df_raw_patents.grant_date, format='%Y-%m-%dT00:00:00.000Z')
df_raw_patents.app_date = pd.to_datetime(df_raw_patents.app_date, format='%Y-%m-%dT00:00:00.000Z')

In [38]:
df_raw_patents.head()

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
0,20140380145,Rajiv,Puranik,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco
1,20140380145,Thomas,Wilsher,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco
2,20140380219,John,CARTAN,Alameda,US,2014-12-25T00:00:00.000Z,2014,2014-06-20T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,AlamedaUnited States,Silicon Valley,Alameda
3,20150000186,Barry,Freel,Ottawa,CA,2015-01-01T00:00:00.000Z,2015,2014-09-16T00:00:00.000Z,2014,1.0,C10L,1.0,C10L,Canada,OttawaCanada,Ottawa,Ottawa
4,20150000186,Robert,Graham,Ottawa,CA,2015-01-01T00:00:00.000Z,2015,2014-09-16T00:00:00.000Z,2014,1.0,C10L,1.0,C10L,Canada,OttawaCanada,Ottawa,Ottawa

### Criando Base de relacionamento entre raw patentes e IPC

In [44]:
# Análise de duas colunas aparentemente iguais
df_raw_patents[df_raw_patents.class_concat!=df_raw_patents.class_IPC_concat]

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
11,20150000325,Daisuke,Shimamoto,Tokyo,JP,2015-01-01,2015,2012-03-09,2012,2.0,"F25B,F16K",2.0,"F16K,F25B",Japan,TokyoJapan,Tokyo,None
12,20150000325,Osamu,Morimoto,Tokyo,JP,2015-01-01,2015,2012-03-09,2012,2.0,"F25B,F16K",2.0,"F16K,F25B",Japan,TokyoJapan,Tokyo,None
13,20150000325,Takayoshi,Honda,Tokyo,JP,2015-01-01,2015,2012-03-09,2012,2.0,"F25B,F16K",2.0,"F16K,F25B",Japan,TokyoJapan,Tokyo,None
76,20150002692,Brian,CABRAL,San Jose,US,2015-01-01,2015,2013-06-26,2013,2.0,"H04N,G06K",2.0,"G06K,H04N",United States,San JoseUnited States,Silicon Valley,San Jose
77,20150002692,Mitchell,HARWELL,Los Gatos,US,2015-01-01,2015,2013-06-26,2013,2.0,"H04N,G06K",2.0,"G06K,H04N",United States,Los GatosUnited States,Silicon Valley,Los Gatos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830917,20140380113,Michael,LUBY,Berkeley,US,2014-12-25,2014,2014-04-04,2014,2.0,"H04L,H03M",2.0,"H03M,H04L",United States,BerkeleyUnited States,Silicon Valley,Berkeley
9830918,20140380113,Payam,Pakzad,Mountaiin View,US,2014-12-25,2014,2014-04-04,2014,2.0,"H04L,H03M",2.0,"H03M,H04L",United States,Mountaiin ViewUnited States,None,None
9830919,20140380134,Lalitha,Venkataramanan,Lexington,US,2014-12-25,2014,2013-01-30,2013,3.0,"H04B,G06F,G01V",3.0,"G01V,G06F,H04B",United States,LexingtonUnited States,None,Lexington
9830920,20140380134,Nicholas,Heaton,Houston,US,2014-12-25,2014,2013-01-30,2013,3.0,"H04B,G06F,G01V",3.0,"G01V,G06F,H04B",United States,HoustonUnited States,Houston,Houston
9830921,20140380134,Nicholas,Bennett,Hamden,US,2014-12-25,2014,2013-01-30,2013,3.0,"H04B,G06F,G01V",3.0,"G01V,G06F,H04B",United States,HamdenUnited States,Hartford,Hamden

In [5]:
df_raw_patents_IPC = df_raw_patents[['patent_id','class_IPC_concat']]

In [6]:
df_raw_patents.drop(columns=['class_IPC_concat','class_concat'],inplace=True)

In [7]:
aux = df_raw_patents_IPC['class_IPC_concat'].str.split(',', expand=True)

In [8]:
for i in list(aux.columns):
    df_raw_patents_IPC[i] = aux[i]

C:\Users\leolk\AppData\Local\Temp\ipykernel_14836\2067602133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_patents_IPC[i] = aux[i]
C:\Users\leolk\AppData\Local\Temp\ipykernel_14836\2067602133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_patents_IPC[i] = aux[i]
C:\Users\leolk\AppData\Local\Temp\ipykernel_14836\2067602133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_patents_IPC[i] = aux[i]
C:\Users\leolk\AppData\Local\Temp\ipykernel_14836\2067602133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_patents_IPC[i] = aux[i]
C:\Users\leolk\AppData\Local\Temp\ipykernel_14836\2067602133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_patents_IPC[i] = aux[i]
C:\Users\leolk\AppData\Local\Temp\ipykernel_14836\2067602133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_patents_IPC[i] = aux[i]
C:\Users\leolk\AppData\Local\Temp\ipykernel_14836\2067602133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_patents_IPC[i] = aux[i]
C:\Users\leolk\AppData\Local\Temp\ipykernel_14836\2067602133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_patents_IPC[i] = aux[i]
C:\Users\leolk\AppData\Local\Temp\ipykernel_14836\2067602133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_patents_IPC[i] = aux[i]
C:\Users\leolk\AppData\Local\Temp\ipykernel_14836\2067602133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_patents_IPC[i] = aux[i]
C:\Users\leolk\AppData\Local\Temp\ipykernel_14836\2067602133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_patents_IPC[i] = aux[i]
C:\Users\leolk\AppData\Local\Temp\ipykernel_14836\2067602133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_patents_IPC[i] = aux[i]

In [9]:
df_raw_patents_IPC.head()

,patent_id,class_IPC_concat,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,20140380145,G06F,G06F,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,20140380145,G06F,G06F,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,20140380219,G06F,G06F,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,20150000186,C10L,C10L,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,20150000186,C10L,C10L,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [11]:
lista = list(aux.columns)

In [ ]:
df_raw_patents_IPC = df_raw_patents_IPC.melt(id_vars=['patent_id'], value_vars=lista, value_name='class_IPC')\
    .drop('class_IPC_concat', axis=1)

In [ ]:
df_raw_patents_IPC.shape