In [1]:
import pandas as pd
from src.utils.UsefulPaths import Paths

In [2]:
paths = Paths()

In [25]:
df_raw_patents = pd.read_csv(paths.raw_raw_patents, parse_dates=['grant_date', 'app_date'])

In [26]:
df_raw_patents = df_raw_patents.drop(['GoogleCity', 'CityCountry'], axis=1)

df_raw_patents = df_raw_patents.rename(columns=
                                       {
                                           'class_IPC_concat': 'class_ipc_concat',
                                           'class_IPC_distinct_count': 'class_ipc_distinct_count',
                                           'CountryName': 'country_name',
                                           'Ecosystem': 'ecosystem'
                                       }
)

df_raw_patents['app_name'] = df_raw_patents.apply(
    lambda row: str(row['name_first']) + ' ' + str(row['name_last']) if pd.notnull(row['name_last']) else row['name_first'],
    axis=1)

df_raw_patents = df_raw_patents.drop(['name_first', 'name_last'], axis=1)

df_raw_patents = df_raw_patents.loc[:, [
                                           'patent_id',
                                           'app_name',
                                           'app_year',
                                           'city',
                                           'country',
                                           'country_name',
                                           'ecosystem',
                                           'grant_date',
                                           'grant_year',
                                           'app_date',
                                           'class_concat',
                                           'class_distinct_count',
                                           'class_ipc_concat',
                                           'class_ipc_distinct_count'
                                       ]
                 ]

df_raw_patents.drop_duplicates(inplace=True)

In [27]:
df_raw_patents.head(5)

,patent_id,app_name,app_year,city,country,country_name,ecosystem,grant_date,grant_year,app_date,class_concat,class_distinct_count,class_ipc_concat,class_ipc_distinct_count
0,20140380145,Rajiv Puranik,2014,San Francisco,US,United States,Silicon Valley,2014-12-25 00:00:00+00:00,2014,2014-05-08 00:00:00+00:00,G06F,1.0,G06F,1.0
1,20140380145,Thomas Wilsher,2014,San Francisco,US,United States,Silicon Valley,2014-12-25 00:00:00+00:00,2014,2014-05-08 00:00:00+00:00,G06F,1.0,G06F,1.0
2,20140380219,John CARTAN,2014,Alameda,US,United States,Silicon Valley,2014-12-25 00:00:00+00:00,2014,2014-06-20 00:00:00+00:00,G06F,1.0,G06F,1.0
3,20150000186,Barry Freel,2014,Ottawa,CA,Canada,Ottawa,2015-01-01 00:00:00+00:00,2015,2014-09-16 00:00:00+00:00,C10L,1.0,C10L,1.0
4,20150000186,Robert Graham,2014,Ottawa,CA,Canada,Ottawa,2015-01-01 00:00:00+00:00,2015,2014-09-16 00:00:00+00:00,C10L,1.0,C10L,1.0

In [28]:
df_table_for_applicants = pd.read_csv(filepath_or_buffer=paths.raw_table_for_applicants, header=None, names=['patent_id','app_name','ecosystem','country','app_year'])
df_table_for_applicants.drop_duplicates(inplace=True)
df_table_for_applicants.head(5)

     patent_id         app_name        ecosystem country  app_year
0  20130080687  Siamack Nemazie  Los Altos Hills      US      2013
1  20130080687      NGON VAN LE          Fremont      US      2013
2  20130031357     Dieter Weiss          Munchen      DE      2013
3  20130031357   Gisela Meister          Munchen      DE      2013
4  20130031357     Jan Eichholz          Munchen      DE      2013

In [29]:
df_abstract = pd.read_csv(paths.raw_abstract)
df_abstract.drop_duplicates(inplace=True)
df_abstract.head(5)

   publication_number                                           abstract
0         20080063564  Embodiments of techniques for determining the ...
1         20080025285  A method for supporting frequency hopping of a...
2         20080056857  To correct any positional misalignment of a su...
3         20080031117  A holographic optical accessing system include...
4         20080056179  Transmitting an acknowledgement/negative ackno...

In [34]:
unique_patents_abstract = len(df_abstract['publication_number'].unique())
print(f'Unique patents for abstract: {unique_patents_abstract}')

unique_patents_raw_patents = len(df_raw_patents['patent_id'].unique())
print(f'Unique patents for raw_patents: {unique_patents_raw_patents}')

unique_patents_applicants = len(df_table_for_applicants['patent_id'].unique())
print(f'Unique patents for applicants: {unique_patents_applicants}')

Unique patents for abstract: 4184916
Unique patents for raw_patents: 3381583
Unique patents for applicants: 622307

In [33]:
applicants_with_patent_null = df_table_for_applicants['patent_id'].isnull().sum()
print(f'There are {applicants_with_patent_null} applicants that has patent_id with null value')
applicants_with_city_null = df_table_for_applicants['ecosystem'].isnull().sum()
print(f'There are {applicants_with_city_null} applicants that has city_region with null value')
applicants_with_owner_null = df_table_for_applicants['app_name'].isnull().sum()
print(f'There are {applicants_with_owner_null} applicants that has owner with null value')
applicants_with_country_null = df_table_for_applicants['country'].isnull().sum()
print(f'There are {applicants_with_country_null} applicants that has country with null value')
applicants_with_year_null = df_table_for_applicants['app_year'].isnull().sum()
print(f'There are {applicants_with_year_null} applicants that has year with null value')
df_applicants_null = df_table_for_applicants[df_table_for_applicants.isnull().any(axis=1)]
df_applicants_null

There are 0 applicants that has patent_id with null value
There are 6645 applicants that has city_region with null value
There are 0 applicants that has owner with null value
There are 10 applicants that has country with null value
There are 0 applicants that has year with null value

,patent_id,app_name,ecosystem,country,app_year
522,20130076041,Philip Merryman,NaN,US,2013
2128,20130063773,Sung-Hwan BAE,NaN,US,2013
4843,20130177032,Martin Berendt,NaN,US,2013
5409,20130118389,Gene Offutt,NaN,US,2013
6388,20130230985,Taiwan Semiconductor Manufacturing Company Ltd.,NaN,US,2013
...,...,...,...,...,...
1415777,20190262099,Lori Lee Lahti,NaN,US,2019
1416366,20200242471,James David Busch,NaN,US,2020
1416561,20200260655,Christopher C. Sappenfield,NaN,US,2020
1416697,20210074416,Pat Iantorno,NaN,US,2021
1417024,20210235862,Dedee R. Dart,NaN,US,2021

In [54]:
df = df_table_for_applicants[~df_table_for_applicants['patent_id'].isin(df_raw_patents['patent_id'])]
df.head()
#
# df = df_raw_patents[df_raw_patents['patent_id'] == 20130076041]
# df.head()
# for index, row in df_applicants_null.iterrows():
#     app_patent_id = row['patent_id']
#     app_owner = str(row['owner'])
#     app_city_region = str(['city_region'])
#
#     df_raw_patents[
#         (df_raw_patents['patent_id'] == app_patent_id) &
#         ()
#     ]

     patent_id           owner city_region country  year
2  20130031357    Dieter Weiss     Munchen      DE  2013
3  20130031357  Gisela Meister     Munchen      DE  2013
4  20130031357    Jan Eichholz     Munchen      DE  2013
5  20130031357  Florian Gawlas     Munchen      DE  2013
7  20130077850  Takehiro Hirai      Ushiku      JP  2013

In [57]:
df2 = df_raw_patents[(df_raw_patents['name_first'] == 'Takehiro') & (df_raw_patents['name_last'] == 'Hirai')]
df2

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
76083,20140331173,Takehiro,Hirai,Tokyo,JP,2014-11-06T00:00:00.000Z,2014,2012-11-26T00:00:00.000Z,2012,3.0,"G06T,G06F,G02B",3.0,"G02B,G06F,G06T",Japan,TokyoJapan,Tokyo,NaN
205707,20200411345,Takehiro,Hirai,Tokyo,JP,2020-12-31T00:00:00.000Z,2020,2020-06-22T00:00:00.000Z,2020,2.0,"H01L,G06T",2.0,"G06T,H01L",Japan,TokyoJapan,Tokyo,NaN
686244,20140169657,Takehiro,Hirai,Tokyo,JP,2014-06-19T00:00:00.000Z,2014,2012-07-06T00:00:00.000Z,2012,1.0,G06T,1.0,G06T,Japan,TokyoJapan,Tokyo,NaN
917084,20140185918,Takehiro,Hirai,Tokyo,JP,2014-07-03T00:00:00.000Z,2014,2012-07-04T00:00:00.000Z,2012,1.0,G06T,1.0,G06T,Japan,TokyoJapan,Tokyo,NaN
3529096,20140198975,Takehiro,Hirai,Tokyo,JP,2014-07-17T00:00:00.000Z,2014,2012-07-09T00:00:00.000Z,2012,1.0,G01N,1.0,G01N,Japan,TokyoJapan,Tokyo,NaN
4291204,20140037188,Takehiro,Hirai,Ushiku,JP,2014-02-06T00:00:00.000Z,2014,2013-08-20T00:00:00.000Z,2013,1.0,G06T,1.0,G06T,Japan,UshikuJapan,Tokyo,Ushik
4522604,20140072204,Takehiro,Hirai,Tokyo,JP,2014-03-13T00:00:00.000Z,2014,2012-04-16T00:00:00.000Z,2012,2.0,"G06K,G06T",2.0,"G06K,G06T",Japan,TokyoJapan,Tokyo,NaN
5610968,20150279614,Takehiro,Hirai,Minato-ku,JP,2015-10-01T00:00:00.000Z,2015,2013-10-11T00:00:00.000Z,2013,1.0,H01J,1.0,H01J,Japan,Minato-kuJapan,Tokyo,Minato
5839419,20150170875,Takehiro,Hirai,Tokyo,JP,2015-06-18T00:00:00.000Z,2015,2013-06-21T00:00:00.000Z,2013,1.0,H01J,1.0,H01J,Japan,TokyoJapan,Tokyo,NaN
6684745,20150060667,Takehiro,Hirai,Tokyo,JP,2015-03-05T00:00:00.000Z,2015,2013-03-11T00:00:00.000Z,2013,2.0,"G06T,H01J",2.0,"G06T,H01J",Japan,TokyoJapan,Tokyo,NaN
6764858,20150214000,Takehiro,Hirai,Tokyo,JP,2015-07-30T00:00:00.000Z,2015,2013-07-01T00:00:00.000Z,2013,2.0,"H01J,G06T",2.0,"G06T,H01J",Japan,TokyoJapan,Tokyo,NaN
6833271,20140219546,Takehiro,Hirai,Tokyo,JP,2014-08-07T00:00:00.000Z,2014,2012-07-06T00:00:00.000Z,2012,1.0,G06T,1.0,G06T,Japan,TokyoJapan,Tokyo,NaN
7065880,20140307946,Takehiro,Hirai,Tokyo,JP,2014-10-16T00:00:00.000Z,2014,2014-04-11T00:00:00.000Z,2014,1.0,G06T,1.0,G06T,Japan,TokyoJapan,Tokyo,NaN
7147440,20150139531,Takehiro,Hirai,Tokyo,JP,2015-05-21T00:00:00.000Z,2015,2013-04-01T00:00:00.000Z,2013,2.0,"G06T,G01N",2.0,"G01N,G06T",Japan,TokyoJapan,Tokyo,NaN
7766449,20160018340,Takehiro,Hirai,Tokyo,JP,2016-01-21T00:00:00.000Z,2016,2015-07-15T00:00:00.000Z,2015,1.0,G01N,1.0,G01N,Japan,TokyoJapan,Tokyo,NaN

In [17]:
df_missing_applicants = df_raw_patents[~df_raw_patents['patent_id'].isin(df_table_for_applicants['patent_id'])]
print(f'There are {len(df_missing_applicants)} patents that has no applicants registered')
df_missing_applicants

There are 8753698 patents that has no applicants registered

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
0,20140380145,Rajiv,Puranik,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco
1,20140380145,Thomas,Wilsher,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco
2,20140380219,John,CARTAN,Alameda,US,2014-12-25T00:00:00.000Z,2014,2014-06-20T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,AlamedaUnited States,Silicon Valley,Alameda
3,20150000186,Barry,Freel,Ottawa,CA,2015-01-01T00:00:00.000Z,2015,2014-09-16T00:00:00.000Z,2014,1.0,C10L,1.0,C10L,Canada,OttawaCanada,Ottawa,Ottawa
4,20150000186,Robert,Graham,Ottawa,CA,2015-01-01T00:00:00.000Z,2015,2014-09-16T00:00:00.000Z,2014,1.0,C10L,1.0,C10L,Canada,OttawaCanada,Ottawa,Ottawa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830919,20140380134,Lalitha,Venkataramanan,Lexington,US,2014-12-25T00:00:00.000Z,2014,2013-01-30T00:00:00.000Z,2013,3.0,"H04B,G06F,G01V",3.0,"G01V,G06F,H04B",United States,LexingtonUnited States,NaN,Lexington
9830920,20140380134,Nicholas,Heaton,Houston,US,2014-12-25T00:00:00.000Z,2014,2013-01-30T00:00:00.000Z,2013,3.0,"H04B,G06F,G01V",3.0,"G01V,G06F,H04B",United States,HoustonUnited States,Houston,Houston
9830921,20140380134,Nicholas,Bennett,Hamden,US,2014-12-25T00:00:00.000Z,2014,2013-01-30T00:00:00.000Z,2013,3.0,"H04B,G06F,G01V",3.0,"G01V,G06F,H04B",United States,HamdenUnited States,Hartford,Hamden
9830922,20140380145,Cheuk,Law,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco
9830923,20140380145,Patrick,Malatack,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco

In [21]:
# Create applicants that is missing
new_applicants = []
for index, row in df_missing_applicants.iterrows():
    patent_id = row['patent_id']
    name_first = str(row['name_first'])
    name_last = str(row['name_last'])
    city = row['city']
    country = row['country']
    app_year = row['app_year']
    ecosystem = row['Ecosystem']

    if pd.isnull(name_last):
        owner = name_first
    else:
        owner = name_first + ' ' + name_last

    if pd.isnull(ecosystem):
        city_region = city
    else:
        city_region = ecosystem

    new_row = {'patent_id': patent_id,
               'owner': owner,
               'city_region': city_region,
               'country': country,
               'year': app_year}

    new_applicants.append(new_row)

df_table_for_applicants = pd.concat([df_table_for_applicants, pd.DataFrame(new_applicants)])

print(f'Applicants size: {len(df_table_for_applicants)}')

Applicants size: 10170839

In [4]:
ecosystem_nulls = df_raw_patents['Ecosystem'].isnull().sum()
ecosystem_percentage_nulls = (ecosystem_nulls / len(df_raw_patents)) * 100
print(f'Total nulls for Ecosystem: {ecosystem_nulls}\nPercentage nulls for Ecosystem: {round(ecosystem_percentage_nulls, 2)}')

Total nulls for Ecosystem: 2522799
Percentage nulls for Ecosystem: 25.66

In [5]:
ecosystem_values = df_raw_patents['Ecosystem'].unique()
total_ecosystem = len(ecosystem_values)
print(f'Total unique values fo Ecosystem: {total_ecosystem}\nValues: {ecosystem_values}')

Total unique values fo Ecosystem: 899
Values: ['Silicon Valley' 'Ottawa' nan 'Tokyo' 'Montreal' 'Stuttgart' 'Nagoya'
 'Amsterdam-Delta' 'Miami' 'hyogo-japan NOT resolved' 'Osaka'
 'Indiana Center;Indianapolis;Indiana' 'Charlotte' 'Hamburg State;Hamburg'
 'Hamburg' 'Busan' 'Beijing' 'union city-united states NOT resolved'
 'aurora-united states NOT resolved' 'Chicago' 'Philadelphia' 'San Diego'
 'Bristol' 'Los Angeles' 'Lisbon' 'Indiana' 'New York City' 'Seattle'
 'Cleveland' 'Ohio' 'San Bernardino' 'Frankfurt' 'Seoul'
 'Research Triangle' 'Toronto' 'Boston' 'Madison' 'Lyon' 'Salt Lake-Provo'
 'Moscow' 'Houston' 'Cape Town' 'Tampa Bay' 'Washington DC' 'Sydney'
 'Melbourne' 'Hiroshima' 'Helsinki' 'Zurich' 'Atlanta' 'Hartford'
 'clinton-united states NOT resolved' 'Xiamen' 'akashi-japan NOT resolved'
 'miki-japan NOT resolved' 'kobe-japan NOT resolved'
 'Manchester-Liverpool' 'Shanghai' 'Shenzhen' 'Bavaria;Munich'
 'Greater London;London' 'Phoenix' 'Fort Collins' 'Sacramento' 'Tel Aviv'
 'Metro Rhein-Ruhr' 'Bavaria' 'Porto' 'Cambridge;London' 'London' 'Dallas'
 'Barcelona' 'Kyoto' 'Indiana Center;Indiana'
 'westfield-united states NOT resolved'
 'plymouth-united states NOT resolved' 'Denver-Boulder' 'Guangzhou'
 'St. Louis' 'Taipei City' 'Nice' 'North Brabant' 'Minneapolis'
 'Vancouver' 'Skane' 'Jacksonville' 'Bluffton' 'Halland' 'Madrid'
 'Kansas City' 'schwarzach-austria NOT resolved' 'Copenhagen'
 'winchester-united states NOT resolved' 'Cincinnati' 'Portland'
 'Stockholm;Uppsala län' 'Stockholm;Stockholms län' 'Columbus' 'Detroit'
 'Saint Petersburg' 'New Orleans' 'Chennai' 'Brussels' 'Antwerp' 'Austin'
 'portland-united states NOT resolved' 'Paris' 'Leipzig' 'Reno' 'Galway'
 'Toulouse' 'Kingston' 'Las Vegas' 'Colorado Springs' 'Oslo' 'Tianjin'
 'dornbirn-austria NOT resolved' 'Waterloo' 'Santiago-Valparaiso'
 'Kolkata' 'Singapore' 'Richmond' 'Fukuoka' 'Hokkaido' 'San Antonio'
 'Lille' 'Birmingham' 'Indiana Center;West Lafayette;Indiana'
 'Athens;Greece' 'Kansas' 'El Paso' 'Montevideo' 'Oklahoma City'
 'Urbana Champaign' 'Stockholm' 'Philadelphia;New York City'
 'richmond-united states NOT resolved' 'Strasbourg' 'Des Moines'
 'Tennessee' 'Tucson' 'New Zealand' 'Bangalore-Karnataka' 'Mexico City'
 'Tulsa' 'Mannheim-Heidelberg' 'Orlando' 'Burlington' 'Kuala Lumpur'
 'Spartanburg' 'Pittsburgh' 'rochester-united states NOT resolved'
 'Wilmington' 'Hong Kong' 'Delhi' 'Dublin' 'Springfield (MA)'
 'Johannesburg' 'St. Louis;Missouri' 'Indiana;Indianapolis'
 'mie-japan NOT resolved' 'bethlehem-united states NOT resolved' 'Buffalo'
 'Nashville;Tennessee' 'Winnipeg' 'Hangzhou' 'Vienna'
 'Gothenburg;Vastra Gotaland' 'huntington-united states NOT resolved'
 'Albuquerque' 'bedford-united states NOT resolved' 'Riyadh' 'Reykjavik'
 'Wuxi' 'washington-united states NOT resolved' 'Turin' 'Ostergotland'
 'Perth' 'Chattanooga' 'Buenos Aires' 'Edmonton' 'Santa Barbara'
 'Hyderabad' 'lafayette-united states NOT resolved' 'Geneva' 'Rome'
 'Memphis;Tennessee' 'Omaha-Lincoln' 'Milan'
 'madison-united states NOT resolved' 'Istanbul' 'Nashville'
 'decatur-united states NOT resolved' 'Sendai' 'Berlin' 'Hanover'
 'Marseille' 'Memphis' 'Brisbane' 'Luxembourg' 'Basel'
 'louannec-france NOT resolved' 'Kerala' 'Munich' 'Chattanooga;Tennessee'
 'Prague' 'Rio de Janeiro' 'Wuhan' 'Sao Paulo' 'nara-japan NOT resolved'
 'Salzburg' 'Quebec City' 'Mississippi'
 'hortonville-united states NOT resolved' 'Kansas City;Kansas'
 'Kansas City;Missouri' 'covington-united states NOT resolved' 'Calgary'
 'kaiserslautern-germany NOT resolved' 'Bordeaux' 'Pune' 'Ahmedabad'
 'Warsaw' 'Durban' 'Brno' 'Malta' 'Krakow' 'Oulu'
 'alexandria-united states NOT resolved'
 'lebanon-united states NOT resolved' 'Biscay Startup Bay' 'Mumbai'
 'Budapest' 'Edinburgh-Glasgow' 'princeton-united states NOT resolved'
 'monticello-united states NOT resolved' 'Toledo' 'Chengdu'
 'freiburg-germany NOT resolved' 'Nanjing' 'Norrbotten' 'Lithuania'
 'salem-germany NOT resolved' 'Kiev' 'Belo Horizonte'
 'mount vernon-united states NOT resolved'
 'portage-united states NOT resolved' 'Western Denmark' 'Sofia'
 'southport-united states NOT resolved' 'Manila' 'Cairo' 'Atlantic Canada'
 'Halifax;Atlantic Canada' 'sullivan-united states NOT resolved'
 'teningen-germany NOT resolved' 'Charlottesville'
 'coimbatore-india NOT resolved' 'radolfzell-germany NOT resolved'
 'moos-germany NOT resolved' 'allensbach-germany NOT resolved'
 'butler-united states NOT resolved' 'villach-austria NOT resolved'
 'rockport-united states NOT resolved' 'denzlingen-germany NOT resolved'
 'emmendingen-germany NOT resolved' 'new haven-united states NOT resolved'
 'charlestown-united states NOT resolved' 'Fresno'
 'kandern-germany NOT resolved' 'Ljubljana' 'trier-germany NOT resolved'
 'Dubai' 'lindau-germany NOT resolved' 'boppard-germany NOT resolved'
 'wehr-germany NOT resolved' 'Monterrey' 'Bangkok' 'Estonia' 'Bucharest'
 'Seberang Perai' 'Lagos' 'Jonkoping' 'bonne-france NOT resolved'
 'new castle-united states NOT resolved'
 'friedrichshafen-germany NOT resolved' 'hohenems-austria NOT resolved'
 'götzis-austria NOT resolved' 'Vastra Gotaland' 'Tehran'
 'poligny-france NOT resolved' 'Ho Chi Minh City' 'Vasternorrland'
 'loerrach-germany NOT resolved' 'singen-germany NOT resolved'
 'giromagny-france NOT resolved' 'greensburg-united states NOT resolved'
 'Durham' 'hard-austria NOT resolved' 'bregenz-austria NOT resolved'
 'Nicosia' 'Orebro' 'huningue-france NOT resolved'
 'nishinomiya-japan NOT resolved' 'lustenau-austria NOT resolved'
 'lawrenceburg-united states NOT resolved' 'otsu-shi-japan NOT resolved'
 'lugano-switzerland NOT resolved' 'feldkirch-austria NOT resolved'
 'Adelaide' 'Vastmanland' 'schaan-liechtenstein NOT resolved'
 'schopfheim-germany NOT resolved' 'gundelfingen-germany NOT resolved'
 'Jakarta' 'ebringen-germany NOT resolved'
 'bluffton-united states NOT resolved' 'geisingen-germany NOT resolved'
 'Bratislava' 'Zagreb' 'wakayama-shi-japan NOT resolved'
 'tijuana-mexico NOT resolved' 'kusatsu-shi-japan NOT resolved'
 'nara-shi-japan NOT resolved' 'Caracas' 'sulz-austria NOT resolved'
 'langenargen-germany NOT resolved' 'rheinfelden-germany NOT resolved'
 'Kronoberg' 'Indiana;West Lafayette' 'engen-germany NOT resolved'
 'Recife' 'Sri Lanka' 'Kalmar' 'lörrach-germany NOT resolved' 'Canberra'
 'Valencia' 'waldkirch-germany NOT resolved'
 'koblenz-germany NOT resolved' 'Nairobi' 'Ireland Mid East Region'
 'otsu-japan NOT resolved' 'jonesboro-united states NOT resolved' 'Ankara'
 'himeji-japan NOT resolved' 'eschen-liechtenstein NOT resolved'
 'buchenbach-germany NOT resolved' 'Greece' 'Las Palmas'
 'frankfort-united states NOT resolved'
 'cervignano del friuli-italy NOT resolved'
 'bernwiller-france NOT resolved' 'Porto Alegre'
 'bingen-germany NOT resolved' 'logroño (la rioja)-spain NOT resolved'
 'belfort-france NOT resolved' 'Atlantic Canada;Halifax'
 'bludenz-austria NOT resolved' 'Indiana North;West Lafayette;Indiana'
 'kirchzarten-germany NOT resolved' 'weil am rhein-germany NOT resolved'
 'Wroclaw' 'hulst-netherlands NOT resolved'
 'freiburg im breisgau-germany NOT resolved'
 'müllheim-germany NOT resolved' 'udine-italy NOT resolved' 'Lima' 'Minsk'
 'wakayama-japan NOT resolved' 'Belfast'
 'rensselaer-united states NOT resolved' 'satteins-austria NOT resolved'
 'bellinzona-switzerland NOT resolved' 'Amman' 'Rosario'
 'montpelier-united states NOT resolved' 'Vasterbotten'
 'tsu-shi-japan NOT resolved' 'weissensberg-germany NOT resolved'
 'eriskirch-germany NOT resolved' 'Cagliari'
 'saint malo-france NOT resolved' 'konstanz-germany NOT resolved'
 'martinsville-united states NOT resolved' 'Yerevan'
 'ravensburg-germany NOT resolved' 'Beirut'
 'bodman-ludwigshafen-germany NOT resolved' 'Varmland'
 'steinen-germany NOT resolved' 'la porte-united states NOT resolved'
 'Cluj' 'Linshu' 'saarbrücken-germany NOT resolved'
 'sierentz-france NOT resolved' 'tsu-japan NOT resolved'
 'mitchell-united states NOT resolved' 'présilly-france NOT resolved'
 'Abu Dhabi' 'Pretoria' 'arogno-switzerland NOT resolved' 'Bahrain'
 'markdorf-germany NOT resolved' 'Guadalajara'
 'lauchringen-germany NOT resolved' 'linsdorf-france NOT resolved'
 'grenzach-wyhlen-germany NOT resolved' 'schwanau-germany NOT resolved'
 'altkirch-france NOT resolved' 'rising sun-united states NOT resolved'
 'Medellin' 'kakogawa-japan NOT resolved' 'Kharkiv' 'Cordoba'
 'monfalcone-italy NOT resolved' 'bad krozingen-germany NOT resolved'
 'arnoldstein-austria NOT resolved'
 'petersburg-united states NOT resolved' 'Blekinge '
 'grafenhausen-germany NOT resolved' 'Dalarna' 'Belgrade and Novi Sad'
 'peelamedu-india NOT resolved' 'Ticino'
 'terneuzen-netherlands NOT resolved' 'tettnang-germany NOT resolved'
 'pontarlier-france NOT resolved' 'lahr-germany NOT resolved'
 'immenstaad-germany NOT resolved' 'horgenzell-germany NOT resolved'
 'Riga' 'bermatingen-germany NOT resolved'
 'meckenbeuren-germany NOT resolved'
 'radolfzell am bodensee-germany NOT resolved'
 'saint-louis-france NOT resolved' 'Kalmar län' 'Quito'
 'annecy-france NOT resolved' 'Doha'
 'waldshut-tiengen-germany NOT resolved' 'tamba-japan NOT resolved'
 'gotzis-austria NOT resolved' 'thonon-les-bains-france NOT resolved'
 'Lecce' 'greencastle-united states NOT resolved' 'Bogota'
 'pringy-france NOT resolved' 'st brelade-jersey NOT resolved'
 'cherbourg-france NOT resolved' 'tourlaville-france NOT resolved'
 'efringen-kirchen-germany NOT resolved' 'bartenheim-france NOT resolved'
 'greendale-united states NOT resolved' 'lenzkirch-germany NOT resolved'
 'attica-united states NOT resolved' 'schliengen-germany NOT resolved'
 'lure-france NOT resolved' 'Florianópolis' 'altach-austria NOT resolved'
 'Cebu City' 'schlierbach-france NOT resolved'
 'eimeldingen-germany NOT resolved' 'binzen-germany NOT resolved'
 'Gavleborg' 'La Paz' 'cruseilles-france NOT resolved'
 'oostburg-netherlands NOT resolved' 'biggekerke-netherlands NOT resolved'
 'Chisinau' 'Curitiba' 'youngstown-united states NOT resolved'
 'Stockholm;Sodermanland' 'morteau-france NOT resolved' 'Casablanca'
 'Tbilisi' 'amagasaki-japan NOT resolved' 'San Juan'
 'lathuile-france NOT resolved' 'geulle-netherlands NOT resolved'
 'marignier-france NOT resolved' 'saarbrucken-germany NOT resolved'
 'cessy-france NOT resolved' 'woodburn-united states NOT resolved'
 'divonne-les-bains-france NOT resolved' 'Skopje'
 'le cheylas-france NOT resolved' 'heiligenberg-germany NOT resolved'
 'stockach-germany NOT resolved'
 'rielasingen-worblingen-germany NOT resolved'
 'montagnola-switzerland NOT resolved' 'schallstadt-germany NOT resolved'
 'Palma' 'au-germany NOT resolved' 'Tashkent' 'Sharjah' 'Peshawar'
 'kenzingen-germany NOT resolved' 'Sodermanland'
 'wolfsberg-austria NOT resolved' 'logrono-spain NOT resolved'
 'goes-netherlands NOT resolved' 'peru-united states NOT resolved'
 'doussard-france NOT resolved' 'staufen im breisgau-germany NOT resolved'
 'klaus-austria NOT resolved' 'koblach-austria NOT resolved'
 'mauren-liechtenstein NOT resolved' 'rankweil-austria NOT resolved'
 'saint louis-france NOT resolved' 'loogootee-united states NOT resolved'
 'les fins-france NOT resolved' 'losone-switzerland NOT resolved'
 'annecy le vieux-france NOT resolved' 'albbruck-germany NOT resolved'
 'kressbronn-germany NOT resolved' 'balerna-switzerland NOT resolved'
 'Abuja' 'talloires-france NOT resolved' 'ornex-france NOT resolved'
 'bad säckingen-germany NOT resolved' 'ettenheim-germany NOT resolved'
 'saint-julien-en-genevois-france NOT resolved' 'sanda-japan NOT resolved'
 'itami-japan NOT resolved' 'weingarten-germany NOT resolved'
 'boonville-united states NOT resolved'
 'gottmadingen-germany NOT resolved' 'maulburg-germany NOT resolved'
 'gravesano-switzerland NOT resolved' 'ruggell-liechtenstein NOT resolved'
 'Isle of Man' 'breisach-germany NOT resolved'
 'triberg-germany NOT resolved' 'vaduz-liechtenstein NOT resolved'
 'rosenau-france NOT resolved' 'feigères-france NOT resolved' 'Xinyu'
 'danjoutin-france NOT resolved' 'Accra' 'reichenau-germany NOT resolved'
 'sallanches-france NOT resolved' 'Gotland' 'Asuncion' 'Kazan' 'Hanoi'
 'sevrier-france NOT resolved' 'Jamtland' 'takarazuka-japan NOT resolved'
 'ville-la-grand-france NOT resolved' 'Kumasi'
 'montbeliard-france NOT resolved' 'thoiry-france NOT resolved'
 'wasserburg (bodensee)-germany NOT resolved'
 'neukirch-germany NOT resolved' 'Nyköping;Sodermanland'
 'bonneville-france NOT resolved' 'staufen-germany NOT resolved'
 'hilzingen-germany NOT resolved' 'vlissingen-netherlands NOT resolved'
 'laufenburg-germany NOT resolved' 'Hermosillo'
 'netersel-netherlands NOT resolved' 'hüfingen-germany NOT resolved'
 'blumberg-germany NOT resolved' 'granville-france NOT resolved'
 'sexau-germany NOT resolved' 'santander-spain NOT resolved'
 'contamine-sur-arve-france NOT resolved'
 'la rochette-france NOT resolved' 'remiremont-france NOT resolved'
 'lauterach-austria NOT resolved' 'sölden-germany NOT resolved'
 'görwihl-germany NOT resolved' 'neuvecelle-france NOT resolved'
 'badenweiler-germany NOT resolved' 'annemasse-france NOT resolved'
 'arenthon-france NOT resolved' 'oberteuringen-germany NOT resolved'
 'Tunis' 'remagen-germany NOT resolved' 'metz-tessy-france NOT resolved'
 'ashiya-japan NOT resolved' 'schluchsee-germany NOT resolved'
 'wolfurt-austria NOT resolved' 'hohberg-germany NOT resolved'
 'Uppsala län' 'Bucaramanga' 'achberg-germany NOT resolved'
 'baienfurt-germany NOT resolved' 'scionzier-france NOT resolved'
 'crozet-france NOT resolved' 'ikoma-japan NOT resolved'
 'hörbranz-austria NOT resolved' 'ligonier-united states NOT resolved'
 'valognes-france NOT resolved' 'frickingen-germany NOT resolved'
 'waldburg-germany NOT resolved' 'march-germany NOT resolved'
 'caslano-switzerland NOT resolved' 'knox-united states NOT resolved'
 'ohio-united states NOT resolved' 'moriyama-japan NOT resolved'
 'wendelsheim-germany NOT resolved' 'Manaus' 'Brasilia' 'Goiania'
 'kawanishi-japan NOT resolved' 'archamps-france NOT resolved'
 'st helier-jersey NOT resolved' 'albertville-france NOT resolved'
 'bodnegg-germany NOT resolved' 'amtzell-germany NOT resolved'
 'ihringen-germany NOT resolved' 'comano-switzerland NOT resolved'
 'tatsuno-japan NOT resolved' 'bräunlingen-germany NOT resolved'
 'althofen-austria NOT resolved' 'Ulaanbaatar' 'Almaty'
 'murg-germany NOT resolved' 'riva san vitale-switzerland NOT resolved'
 'kennelbach-austria NOT resolved'
 'uhldingen-mühlhofen-germany NOT resolved' 'reignier-france NOT resolved'
 'montlebon-france NOT resolved' 'seelbach-germany NOT resolved'
 'gordola-switzerland NOT resolved' 'Santo Domingo'
 'birkenfeld-germany NOT resolved' 'riazzino-switzerland NOT resolved'
 'Nur-Sultan' 'higashiomi-japan NOT resolved' 'yasu-japan NOT resolved'
 'rheinbreitbach-germany NOT resolved' 'baindt-germany NOT resolved'
 'logroño-spain NOT resolved' 'Bosnia and Herzegovina' 'Addis Ababa'
 'hufingen-germany NOT resolved' 'verscio-switzerland NOT resolved'
 'castagnola-switzerland NOT resolved' 'Algiers' 'Ras Al-Khaimah'
 'saint-malo-france NOT resolved'
 'cadier en keer-netherlands NOT resolved'
 'viganello-switzerland NOT resolved' 'hohentengen-germany NOT resolved'
 'West Lafayette' 'orsingen-nenzingen-germany NOT resolved'
 'saint-jorioz-france NOT resolved' 'ooty-india NOT resolved'
 'waldshut-germany NOT resolved' 'talloires-montmin-france NOT resolved'
 'marnaz-france NOT resolved' 'ritto-japan NOT resolved'
 'eschbach-germany NOT resolved' 'burnhaupt-le-haut-france NOT resolved'
 'giubiasco-switzerland NOT resolved'
 'ferney-voltaire-france NOT resolved'
 'aardenburg-netherlands NOT resolved'
 'triesen-liechtenstein NOT resolved' 'lottstetten-germany NOT resolved'
 'neuenburg am rhein-germany NOT resolved'
 'immenstaad am bodensee-germany NOT resolved'
 'brand-austria NOT resolved' 'fillinges-france NOT resolved'
 'oakland city-united states NOT resolved'
 'überlingen-germany NOT resolved' 'Bali' 'Abidjan'
 'guyans-vennes-france NOT resolved' 'manno-switzerland NOT resolved'
 'bötzingen-germany NOT resolved' 'owingen-germany NOT resolved'
 'vörstetten-germany NOT resolved' 'hirsingue-france NOT resolved'
 'todtnau-germany NOT resolved'
 'saint-martin-bellevue-france NOT resolved' 'Blekinge'
 'sochaux-france NOT resolved' 'cividale del friuli-italy NOT resolved'
 'montbéliard-france NOT resolved' 'eede-netherlands NOT resolved'
 'veyrier-du-lac-france NOT resolved' 'wilhelmsdorf-germany NOT resolved'
 'hésingue-france NOT resolved'
 'st julien en genevois-france NOT resolved'
 'eigeltingen-germany NOT resolved' 'aach-germany NOT resolved'
 'casteren-netherlands NOT resolved' 'kobe-shi-japan NOT resolved'
 'saint-genis-pouilly-france NOT resolved' 'gaillard-france NOT resolved'
 'allonzier-la-caille-france NOT resolved'
 'damascus-syrian arab republic NOT resolved' 'Baku'
 'rivera-switzerland NOT resolved' 'mossa-italy NOT resolved'
 'hinterzarten-germany NOT resolved' 'pollachi-india NOT resolved'
 'bollschweil-germany NOT resolved' 'andilly-france NOT resolved'
 'frederikshavn-denmark NOT resolved' 'hikone-japan NOT resolved'
 'meersburg-germany NOT resolved' 'guernsey-united kingdom NOT resolved'
 'cluses-france NOT resolved' 'eichstetten-germany NOT resolved'
 'marin-france NOT resolved' 'maroggia-switzerland NOT resolved'
 'sciez-france NOT resolved' 'douvaine-france NOT resolved'
 'nabari-japan NOT resolved' 'Dakar' 'cureglia-switzerland NOT resolved'
 'lahr/schwarzwald-germany NOT resolved' 'matsusaka-japan NOT resolved'
 'genestrerio-switzerland NOT resolved'
 'pavia di udine-italy NOT resolved'
 'breisach am rhein-germany NOT resolved' 'doubs-france NOT resolved'
 'jestetten-germany NOT resolved' 'sessa-switzerland NOT resolved'
 'iga-japan NOT resolved' 'Davao' 'grenzach-germany NOT resolved'
 'simonswald-germany NOT resolved' 'ligornetto-switzerland NOT resolved'
 'sorengo-switzerland NOT resolved' 'agno-switzerland NOT resolved'
 'singen (hohentwiel)-germany NOT resolved'
 'cadro-switzerland NOT resolved' 'lochau-austria NOT resolved'
 'wutöschingen-germany NOT resolved' 'bürs-austria NOT resolved'
 'gronsveld-netherlands NOT resolved' 'mieussy-france NOT resolved'
 'audincourt-france NOT resolved' 'delle-france NOT resolved'
 'grandvillars-france NOT resolved' 'omihachiman-japan NOT resolved'
 'volkertshausen-germany NOT resolved'
 'saint martin bellevue-france NOT resolved'
 'saint genis pouilly-france NOT resolved' 'cervens-france NOT resolved'
 'chiasso-switzerland NOT resolved'
 'sint jansteen-netherlands NOT resolved'
 'ploubazlanec-france NOT resolved' 'bahlingen-germany NOT resolved'
 'chaux-france NOT resolved' 'degernau-germany NOT resolved'
 'molinazzo di monteggio-switzerland NOT resolved' 'Kampala'
 'schlier-germany NOT resolved' 'feldkirch-germany NOT resolved'
 'muralto-switzerland NOT resolved' 'merdingen-germany NOT resolved'
 'raggal-austria NOT resolved' 'weiler-austria NOT resolved'
 'brunstatt-france NOT resolved' 'bedano-switzerland NOT resolved'
 'quierschied-germany NOT resolved' 'saarwellingen-germany NOT resolved'
 'stühlingen-germany NOT resolved' 'pregassona-switzerland NOT resolved'
 'taverne-switzerland NOT resolved' 'frieburg-germany NOT resolved'
 'riegel-germany NOT resolved' 'lons-le-saunier-france NOT resolved'
 'sas van gent-netherlands NOT resolved' 'Sarajevo'
 'hashimoto-japan NOT resolved' 'morez-france NOT resolved'
 'oberried-germany NOT resolved' 'kameyama-japan NOT resolved'
 'saint-claude-france NOT resolved' 'sankt ingbert-germany NOT resolved'
 'strandby-denmark NOT resolved' 'evires-france NOT resolved'
 'eggingen-germany NOT resolved' 'stegen-germany NOT resolved'
 'saint-alban-france NOT resolved' 'torrelavega-spain NOT resolved'
 'Luanda' 'kortgene-netherlands NOT resolved' 'Indianapolis'
 'saint gervais-france NOT resolved' 'lamone-switzerland NOT resolved'
 'coutances-france NOT resolved' 'annecy-le-vieux-france NOT resolved'
 'la clusaz-france NOT resolved' 'umkirch-germany NOT resolved'

In [6]:
df_by_city_country = df_raw_patents.groupby(by=['city', 'CountryName'])

In [7]:
for city_country, df in df_by_city_country:
    df_ecosystem_uniques = df['Ecosystem'].unique()
    count_uniques = len(df_ecosystem_uniques)
    df = df.loc[:, ['city', 'CountryName', 'Ecosystem']]

    if count_uniques > 1:
        print(f'{city_country[0]}-{city_country[1]} -> {count_uniques} -> {df_ecosystem_uniques}')

Bangor-United Kingdom -> 2 -> [nan 'Belfast']
Chaiwan-Hong Kong -> 2 -> [nan 'Hong Kong']
Honk Kong-Hong Kong -> 2 -> ['Hong Kong' nan]
Kowloon Hong Kong-Hong Kong -> 2 -> ['Hong Kong' nan]
London-United Kingdom -> 2 -> ['Greater London;London' 'London']
Moville-United Kingdom -> 2 -> [nan 'Belfast']

In [8]:
unique_city_country_combinations = df_raw_patents[['city', 'CountryName']].nunique()
print(unique_city_country_combinations)

city           178188
CountryName       222
dtype: int64

In [9]:
df_city_null = df_raw_patents[df_raw_patents['city'].isnull()]
df_city_null

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
7669,20150354799,Stacey,West,NaN,US,2015-12-10T00:00:00.000Z,2015,2015-06-15T00:00:00.000Z,2015,3.0,"F21L,H05B,F21V",2.0,"F21V,H05B",United States,United States,NaN,NaN
62347,20120179897,Neil,Campbell,NaN,US,2012-07-12T00:00:00.000Z,2012,2012-01-06T00:00:00.000Z,2012,1.0,G06F,1.0,G06F,United States,United States,NaN,NaN
63629,20120304381,Peter,PATEROK,NaN,US,2012-12-06T00:00:00.000Z,2012,2012-07-25T00:00:00.000Z,2012,1.0,A47C,1.0,A47C,United States,United States,NaN,NaN
68270,20130302015,Roberto,Dini,NaN,IT,2013-11-14T00:00:00.000Z,2013,2012-02-13T00:00:00.000Z,2012,1.0,H04N,1.0,H04N,Italy,NoneItaly,Turin,NaN
88030,20160119376,Andrea,Scozzaro,NaN,IT,2016-04-28T00:00:00.000Z,2016,2014-06-17T00:00:00.000Z,2014,1.0,H04L,1.0,H04L,Italy,NoneItaly,Turin,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9758590,20150233075,Michael,Maggio,NaN,US,2015-08-20T00:00:00.000Z,2015,2014-02-19T00:00:00.000Z,2014,1.0,E02D,1.0,E02D,United States,United States,NaN,NaN
9814462,20210323066,Paul,Olubummo,NaN,US,2021-10-21T00:00:00.000Z,2021,2018-06-05T00:00:00.000Z,2018,2.0,"B22F,B33Y",2.0,"B22F,B33Y",United States,United States,NaN,NaN
9816589,20120153144,Benjamin,McMorran,NaN,US,2012-06-21T00:00:00.000Z,2012,2012-02-14T00:00:00.000Z,2012,1.0,H01J,1.0,H01J,United States,United States,NaN,NaN
9816789,20120191149,Gary,Freeman,NaN,US,2012-07-26T00:00:00.000Z,2012,2012-04-03T00:00:00.000Z,2012,2.0,"A61H,A61N",2.0,"A61H,A61N",United States,United States,NaN,NaN
9824035,20140045602,Darin,DINGMAN,NaN,US,2014-02-13T00:00:00.000Z,2014,2012-08-09T00:00:00.000Z,2012,1.0,A63B,1.0,A63B,United States,United States,NaN,NaN

In [10]:
df_city_duplicated = df_city_null[df_city_null.duplicated('patent_id', keep=False)]
df_city_duplicated

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
1930015,20160126822,Mark,SNOOK,NaN,GB,2016-05-05T00:00:00.000Z,2016,2014-06-17T00:00:00.000Z,2014,2.0,"H03K,H02M",2.0,"H02M,H03K",United Kingdom,N/AUnited Kingdom,NaN,NaN
1930016,20160126822,Robert,LEEDHAM,NaN,GB,2016-05-05T00:00:00.000Z,2016,2014-06-17T00:00:00.000Z,2014,2.0,"H03K,H02M",2.0,"H02M,H03K",United Kingdom,N/AUnited Kingdom,NaN,NaN
1930017,20160126822,Robin,LYLE,NaN,GB,2016-05-05T00:00:00.000Z,2016,2014-06-17T00:00:00.000Z,2014,2.0,"H03K,H02M",2.0,"H02M,H03K",United Kingdom,N/AUnited Kingdom,NaN,NaN
2753162,20130307942,Paolo,D'Amato,NaN,IT,2013-11-21T00:00:00.000Z,2013,2012-01-10T00:00:00.000Z,2012,1.0,H04N,1.0,H04N,Italy,NoneItaly,Turin,NaN
2753163,20130307942,Roberto,Dini,NaN,IT,2013-11-21T00:00:00.000Z,2013,2012-01-10T00:00:00.000Z,2012,1.0,H04N,1.0,H04N,Italy,NoneItaly,Turin,NaN
2753164,20130307942,Saverio,Celia,NaN,IT,2013-11-21T00:00:00.000Z,2013,2012-01-10T00:00:00.000Z,2012,1.0,H04N,1.0,H04N,Italy,NoneItaly,Turin,NaN
8525695,20140275509,Christian,Espinel,NaN,ES,2014-09-18T00:00:00.000Z,2014,2012-05-04T00:00:00.000Z,2012,1.0,A61K,1.0,A61K,Spain,n/aSpain,NaN,NaN
8525696,20140275509,Jesús,Fuente,NaN,ES,2014-09-18T00:00:00.000Z,2014,2012-05-04T00:00:00.000Z,2012,1.0,A61K,1.0,A61K,Spain,n/aSpain,NaN,NaN
8525697,20140275509,Pablo,Higuera,NaN,ES,2014-09-18T00:00:00.000Z,2014,2012-05-04T00:00:00.000Z,2012,1.0,A61K,1.0,A61K,Spain,n/aSpain,NaN,NaN

In [11]:
df_country_null = df_raw_patents[df_raw_patents['country'].isnull()]
df_country_null

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
210816,20210219676,Reuven,Paikin,Windhoek,NaN,2021-07-22T00:00:00.000Z,2021,2019-05-08T00:00:00.000Z,2019,1.0,A44C,1.0,A44C,NaN,Windhoek,NaN,Windhoek
389191,20150271058,Hiromasa,YAMAUCHI,Usakos,NaN,2015-09-24T00:00:00.000Z,2015,2015-06-05T00:00:00.000Z,2015,2.0,"H04W,H04L",2.0,"H04L,H04W",NaN,Usakos,NaN,NaN
848318,20150201396,Hiromasa,Yamauchi,Usakos,NaN,2015-07-16T00:00:00.000Z,2015,2015-03-26T00:00:00.000Z,2015,1.0,H04W,1.0,H04W,NaN,Usakos,NaN,NaN
1224661,20140157280,Hiromasa,Yamauchi,Usakos,NaN,2014-06-05T00:00:00.000Z,2014,2014-02-07T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
1300888,20140129811,Hiromasa,Yamauchi,Usakos,NaN,2014-05-08T00:00:00.000Z,2014,2014-01-09T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
1306335,20140380333,Hiromasa,Yamauchi,Usakos,NaN,2014-12-25T00:00:00.000Z,2014,2014-09-04T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
1685195,20140178206,Frank,Kernstock,Windhoek,NaN,2014-06-26T00:00:00.000Z,2014,2012-07-20T00:00:00.000Z,2012,1.0,F01D,1.0,F01D,NaN,Windhoek,NaN,Windhoek
1770330,20150244603,Hiromasa,YAMAUCHI,Usakos,NaN,2015-08-27T00:00:00.000Z,2015,2015-05-08T00:00:00.000Z,2015,1.0,H04L,1.0,H04L,NaN,Usakos,NaN,NaN
2000238,20150229705,Hiromasa,Yamauchi,Usakos,NaN,2015-08-13T00:00:00.000Z,2015,2015-03-26T00:00:00.000Z,2015,2.0,"H04W,H04L",2.0,"H04L,H04W",NaN,Usakos,NaN,NaN
2074256,20150137995,Hiromasa,YAMAUCHI,Usakos,NaN,2015-05-21T00:00:00.000Z,2015,2015-01-23T00:00:00.000Z,2015,2.0,"H04Q,H04W",2.0,"H04Q,H04W",NaN,Usakos,NaN,NaN
2305126,20150131486,Hiromasa,YAMAUCHI,Usakos,NaN,2015-05-14T00:00:00.000Z,2015,2015-01-23T00:00:00.000Z,2015,2.0,"H04L,H04W",2.0,"H04L,H04W",NaN,Usakos,NaN,NaN
3372940,20140149991,Hiromasa,Yamauchi,Usakos,NaN,2014-05-29T00:00:00.000Z,2014,2014-01-31T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
3382272,20150201362,Hiromasa,Yamauchi,Usakos,NaN,2015-07-16T00:00:00.000Z,2015,2015-03-25T00:00:00.000Z,2015,2.0,"H04B,H04W",2.0,"H04B,H04W",NaN,Usakos,NaN,NaN
3529833,20140237150,Hiromasa,YAMAUCHI,Usakos,NaN,2014-08-21T00:00:00.000Z,2014,2014-04-30T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
3689809,20150172791,Hiromasa,YAMAUCHI,Usakos,NaN,2015-06-18T00:00:00.000Z,2015,2015-02-26T00:00:00.000Z,2015,2.0,"H04Q,H04W",2.0,"H04Q,H04W",NaN,Usakos,NaN,NaN
3985548,20140122632,Hiromasa,YAMAUCHI,Usakos,NaN,2014-05-01T00:00:00.000Z,2014,2014-01-06T00:00:00.000Z,2014,1.0,H04L,1.0,H04L,NaN,Usakos,NaN,NaN
4376193,20150012777,Hiromasa,Yamauchi,Usakos,NaN,2015-01-08T00:00:00.000Z,2015,2014-09-25T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
4612331,20150289192,Hiromasa,YAMAUCHI,Usakos,NaN,2015-10-08T00:00:00.000Z,2015,2015-06-22T00:00:00.000Z,2015,1.0,H04W,1.0,H04W,NaN,Usakos,NaN,NaN
4678168,20140149691,Hiromasa,Yamauchi,Usakos,NaN,2014-05-29T00:00:00.000Z,2014,2014-02-04T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
4758527,20140310723,Hiromasa,Yamauchi,Usakos,NaN,2014-10-16T00:00:00.000Z,2014,2014-06-26T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
5293071,20140143788,Hiromasa,Yamauchi,Usakos,NaN,2014-05-22T00:00:00.000Z,2014,2014-01-28T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
5378011,20150153439,Hiromasa,YAMAUCHI,Usakos,NaN,2015-06-04T00:00:00.000Z,2015,2015-02-11T00:00:00.000Z,2015,3.0,"H04L,H04W,G01S",3.0,"G01S,H04L,H04W",NaN,Usakos,NaN,NaN
5448189,20140241277,Hiromasa,YAMAUCHI,Usakos,NaN,2014-08-28T00:00:00.000Z,2014,2014-04-09T00:00:00.000Z,2014,1.0,H04W,1.0,H04W,NaN,Usakos,NaN,NaN
5829483,20140089377,Hiromasa,YAMAUCHI,Usakos,NaN,2014-03-27T00:00:00.000Z,2014,2013-11-26T00:00:00.000Z,2013,1.0,H04L,1.0,H04L,NaN,Usakos,NaN,NaN
5829867,20140108758,Hiromasa,Yamauchi,Usakos,NaN,2014-04-17T00:00:00.000Z,2014,2013-12-19T00:00:00.000Z,2013,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
5846787,20160113443,Anthony,Jager,Rehoboth,NaN,2016-04-28T00:00:00.000Z,2016,2015-12-31T00:00:00.000Z,2015,1.0,A47J,1.0,A47J,NaN,Rehoboth,NaN,Rehoboth Beach
5846788,20160113443,Sean,Jager,Rehoboth,NaN,2016-04-28T00:00:00.000Z,2016,2015-12-31T00:00:00.000Z,2015,1.0,A47J,1.0,A47J,NaN,Rehoboth,NaN,Rehoboth Beach
6687242,20150177361,Hiromasa,Yamauchi,Usakos,NaN,2015-06-25T00:00:00.000Z,2015,2015-03-03T00:00:00.000Z,2015,2.0,"G01S,H04W",2.0,"G01S,H04W",NaN,Usakos,NaN,NaN
7033164,20190388165,Kenichiro,NAGASAKA,Tokyo,NaN,2019-12-26T00:00:00.000Z,2019,2018-02-02T00:00:00.000Z,2018,1.0,A61B,1.0,A61B,NaN,Tokyo,Tokyo,NaN
7052116,20210361040,Reuven,Paikin,Windhoek,NaN,2021-11-25T00:00:00.000Z,2021,2021-05-19T00:00:00.000Z,2021,1.0,A44C,1.0,A44C,NaN,Windhoek,NaN,Windhoek
7062445,20140143790,Hiromasa,YAMAUCHI,Usakos,NaN,2014-05-22T00:00:00.000Z,2014,2014-01-27T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
7113064,20200131743,Cornelius,Brockman,Swakopmund,NaN,2020-04-30T00:00:00.000Z,2020,2019-10-31T00:00:00.000Z,2019,1.0,E02F,1.0,E02F,NaN,Swakopmund,NaN,NaN
7752518,20140115601,Hiromasa,YAMAUCHI,Usakos,NaN,2014-04-24T00:00:00.000Z,2014,2013-12-20T00:00:00.000Z,2013,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
7760753,20150131439,Hiromasa,Yamauchi,Usakos,NaN,2015-05-14T00:00:00.000Z,2015,2015-01-19T00:00:00.000Z,2015,1.0,H04L,1.0,H04L,NaN,Usakos,NaN,NaN
7762737,20150227400,Hiromasa,YAMAUCHI,Usakos,NaN,2015-08-13T00:00:00.000Z,2015,2015-03-26T00:00:00.000Z,2015,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
7829869,20140164468,Hiromasa,Yamauchi,Usakos,NaN,2014-06-12T00:00:00.000Z,2014,2013-11-26T00:00:00.000Z,2013,1.0,H04L,1.0,H04L,NaN,Usakos,NaN,NaN
7838496,20150181528,Hiromasa,YAMAUCHI,Usakos,NaN,2015-06-25T00:00:00.000Z,2015,2015-02-27T00:00:00.000Z,2015,1.0,H04W,1.0,H04W,NaN,Usakos,NaN,NaN
7845318,20160114975,Paul,Zwaan,Auckland,NaN,2016-04-28T00:00:00.000Z,2016,2014-04-06T00:00:00.000Z,2014,2.0,"B65B,B65F",2.0,"B65B,B65F",NaN,Auckland,New Zealand,Auckland
7856825,20170240895,Michael,Greenberg,NA (deceased),NaN,2017-08-24T00:00:00.000Z,2017,2013-04-17T00:00:00.000Z,2013,1.0,C12N,1.0,C12N,NaN,NA (deceased),NaN,NaN
8291433,20140123154,Hiromasa,Yamauchi,Usakos,NaN,2014-05-01T00:00:00.000Z,2014,2014-01-06T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
8508369,20210212421,Reuven,PAIKIN,Windhoek,NaN,2021-07-15T00:00:00.000Z,2021,2021-01-15T00:00:00.000Z,2021,1.0,A44C,1.0,A44C,NaN,Windhoek,NaN,Windhoek
8836175,20150019837,Hiromasa,Yamauchi,Usakos,NaN,2015-01-15T00:00:00.000Z,2015,2014-09-29T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN
8982898,20140092747,Hiromasa,YAMAUCHI,Usakos,NaN,2014-04-03T00:00:00.000Z,2014,2013-12-04T00:00:00.000Z,2013,1.0,H04L,1.0,H04L,NaN,Usakos,NaN,NaN
9060640,20140145670,Jan,Wanner,Bonaire,NaN,2014-05-29T00:00:00.000Z,2014,2013-11-27T00:00:00.000Z,2013,2.0,"B60L,H02J",2.0,"B60L,H02J",NaN,Bonaire,NaN,NaN
9122350,20210212422,Reuven,PAIKIN,Windhoek,NaN,2021-07-15T00:00:00.000Z,2021,2021-01-15T00:00:00.000Z,2021,1.0,A44C,1.0,A44C,NaN,Windhoek,NaN,Windhoek
9594776,20140095573,Hiromasa,Yamauchi,Usakos,NaN,2014-04-03T00:00:00.000Z,2014,2013-12-03T00:00:00.000Z,2013,1.0,H04L,1.0,H04L,NaN,Usakos,NaN,NaN
9596775,20140189185,Hiromasa,Yamauchi,Usakos,NaN,2014-07-03T00:00:00.000Z,2014,2014-03-06T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,NaN,Usakos,NaN,NaN

In [12]:
df_cities_500 = pd.read_csv(paths.processed_cities_500, encoding='utf-8', dtype={13: str, 14: str})
df_cities_500

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,3039154,El Tarter,El Tarter,"Ehl Tarter,Эл Тартер",42.57952,1.65362,P,PPL,AD,NaN,02,NaN,NaN,NaN,1052,NaN,1721,Europe/Andorra,2012-11-03
1,3039163,Sant Julià de Lòria,Sant Julia de Loria,"San Julia,San Julià,Sant Julia de Loria,Sant J...",42.46372,1.49129,P,PPLA,AD,NaN,06,NaN,NaN,NaN,8022,NaN,921,Europe/Andorra,2013-11-23
2,3039604,Pas de la Casa,Pas de la Casa,"Pas de la Kasa,Пас де ла Каса",42.54277,1.73361,P,PPL,AD,NaN,03,NaN,NaN,NaN,2363,2050.0,2106,Europe/Andorra,2008-06-09
3,3039678,Ordino,Ordino,"Ordino,ao er di nuo,orudino jiao qu,Ордино,オルデ...",42.55623,1.53319,P,PPLA,AD,NaN,05,NaN,NaN,NaN,3066,NaN,1296,Europe/Andorra,2018-10-26
4,3040051,les Escaldes,les Escaldes,"Ehskal'des-Ehndzhordani,Escaldes,Escaldes-Engo...",42.50729,1.53414,P,PPLA,AD,NaN,08,NaN,NaN,NaN,15853,NaN,1033,Europe/Andorra,2008-10-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199663,895269,Beitbridge,Beitbridge,"Bajtbridz,Bajtbridzh,Beitbridge,Beitbridzas,Be...",-22.21667,30.00000,P,PPL,ZW,NaN,07,NaN,NaN,NaN,58100,NaN,461,Africa/Harare,2022-10-07
199664,895308,Beatrice,Beatrice,Beatrice,-18.25283,30.84730,P,PPL,ZW,NaN,04,NaN,NaN,NaN,1647,NaN,1307,Africa/Harare,2018-05-09
199665,895417,Banket,Banket,"Banket,Banket Junction",-17.38333,30.40000,P,PPL,ZW,NaN,05,NaN,NaN,NaN,9641,NaN,1277,Africa/Harare,2013-03-12
199666,1085510,Epworth,Epworth,Epworth,-17.89000,31.14750,P,PPLX,ZW,NaN,10,NaN,NaN,NaN,123250,NaN,1508,Africa/Harare,2012-01-19
199667,1106542,Chitungwiza,Chitungwiza,"Chitungviza,Chitungwiza,Chytungviza,Citungviza...",-18.01274,31.07555,P,PPL,ZW,NaN,10,NaN,NaN,NaN,371244,NaN,1435,Africa/Harare,2022-10-05

In [13]:
df_raw_patents_without_duplicates = df_raw_patents.drop_duplicates()
df2_selected = df_cities_500[['name', 'country code', 'latitude', 'longitude']]
df2_selected = df2_selected.drop_duplicates()
df_merged = df_raw_patents_without_duplicates.merge(df2_selected, how='inner', left_on=['city', 'country'], right_on=['name', 'country code'])
df_merged

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,...,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity,name,country code,latitude,longitude
0,20140380145,Rajiv,Puranik,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,...,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco,San Francisco,US,37.77493,-122.41942
1,20140380145,Thomas,Wilsher,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,...,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco,San Francisco,US,37.77493,-122.41942
2,20150004825,Pinida,Moosintong,San Francisco,US,2015-01-01T00:00:00.000Z,2015,2014-04-25T00:00:00.000Z,2014,2.0,...,2.0,"H01R,H05K",United States,San FranciscoUnited States,Silicon Valley,San Francisco,San Francisco,US,37.77493,-122.41942
3,20150010953,Daniel,Ryan,San Francisco,US,2015-01-08T00:00:00.000Z,2015,2013-07-03T00:00:00.000Z,2013,2.0,...,2.0,"C12N,C12P",United States,San FranciscoUnited States,Silicon Valley,San Francisco,San Francisco,US,37.77493,-122.41942
4,20150010953,Jeffrey,Sampson,San Francisco,US,2015-01-08T00:00:00.000Z,2015,2013-07-03T00:00:00.000Z,2013,2.0,...,2.0,"C12N,C12P",United States,San FranciscoUnited States,Silicon Valley,San Francisco,San Francisco,US,37.77493,-122.41942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19315509,20140259776,OSWALDO,YLLICH,Miraflores,PE,2014-09-18T00:00:00.000Z,2014,2013-03-14T00:00:00.000Z,2013,1.0,...,1.0,A43B,Peru,MirafloresPeru,Lima,Miraflores,Miraflores,PE,-5.16520,-80.61384
19315510,20140259776,OSWALDO,YLLICH,Miraflores,PE,2014-09-18T00:00:00.000Z,2014,2013-03-14T00:00:00.000Z,2013,1.0,...,1.0,A43B,Peru,MirafloresPeru,Lima,Miraflores,Miraflores,PE,-4.84198,-80.68936
19315511,20140259776,OSWALDO,YLLICH,Miraflores,PE,2014-09-18T00:00:00.000Z,2014,2013-03-14T00:00:00.000Z,2013,1.0,...,1.0,A43B,Peru,MirafloresPeru,Lima,Miraflores,Miraflores,PE,-12.27417,-75.85024
19315512,20140259776,OSWALDO,YLLICH,Miraflores,PE,2014-09-18T00:00:00.000Z,2014,2013-03-14T00:00:00.000Z,2013,1.0,...,1.0,A43B,Peru,MirafloresPeru,Lima,Miraflores,Miraflores,PE,-5.90951,-77.36901
19315513,20140373007,Holger,Mueller,Nomborn,DE,2014-12-18T00:00:00.000Z,2014,2013-06-13T00:00:00.000Z,2013,1.0,...,1.0,G06F,Germany,NombornGermany,NaN,NaN,Nomborn,DE,50.43333,7.91667

In [14]:
print(len(df_raw_patents))
print(len(df_raw_patents_without_duplicates))
print(len(df_merged))

9830924
9829883
19315514