In [1]:
import pandas as pd
from src.utils.UsefulPaths import Paths

In [2]:
paths = Paths()

In [3]:
df_raw_patents = pd.read_csv('C:\\Users\\thiag\\PycharmProjects\\genome\\data\\processed\\raw_patents.csv', parse_dates=['grant_date', 'app_date'])

In [4]:
df_grouped = df_raw_patents.groupby(by=['grant_year', 'country'])['patent_id'].nunique().rename('total_patents').reset_index()
df_grouped

      grant_year country  total_patents
0           2012      AD              1
1           2012      AE             18
2           2012      AM              2
3           2012      AR             25
4           2012      AT            358
...          ...     ...            ...
1753        2021      YS              5
1754        2021      ZA            274
1755        2021      ZH              1
1756        2021      ZM              1
1757        2021      ZW              1

[1758 rows x 3 columns]

In [5]:
def test(row):
    last_year = row['grant_year'] - 1
    country = row['country']
    this_total_patents = row['total_patents']

    last_total = df_grouped[
        (df_grouped['grant_year'] == last_year) &
        (df_grouped['country'] == country)
    ]['total_patents'].values

    if len(last_total) > 0:
        return last_total[0]
    else:
        return 0


df_grouped['last_total'] = df_grouped.apply(test, axis=1)

In [6]:
df_grouped.sort_values(by=['country', 'grant_year'])
df_grouped

      grant_year country  total_patents  last_total
0           2012      AD              1           0
1           2012      AE             18           0
2           2012      AM              2           0
3           2012      AR             25           0
4           2012      AT            358           0
...          ...     ...            ...         ...
1753        2021      YS              5           2
1754        2021      ZA            274         261
1755        2021      ZH              1           1
1756        2021      ZM              1           1
1757        2021      ZW              1           0

[1758 rows x 4 columns]

In [7]:
df_grouped['pct_change'] = (df_grouped['total_patents'] - df_grouped['last_total']) / df_grouped['last_total']
df_grouped.sort_values(by=['country', 'grant_year'])

      grant_year country  total_patents  last_total  pct_change
1565        2021      97              1           0         inf
118         2013      AB              1           0         inf
454         2015      AB              1           0         inf
633         2016      AB              2           1         1.0
0           2012      AD              1           0         inf
...          ...     ...            ...         ...         ...
269         2013      ZW              1           0         inf
822         2016      ZW              1           0         inf
1197        2018      ZW              3           0         inf
1373        2019      ZW              3           3         0.0
1757        2021      ZW              1           0         inf

[1758 rows x 5 columns]

In [8]:
import numpy as np
df_grouped.replace(np.inf, 0, inplace=True)
df_grouped

      grant_year country  total_patents  last_total  pct_change
0           2012      AD              1           0    0.000000
1           2012      AE             18           0    0.000000
2           2012      AM              2           0    0.000000
3           2012      AR             25           0    0.000000
4           2012      AT            358           0    0.000000
...          ...     ...            ...         ...         ...
1753        2021      YS              5           2    1.500000
1754        2021      ZA            274         261    0.049808
1755        2021      ZH              1           1    0.000000
1756        2021      ZM              1           1    0.000000
1757        2021      ZW              1           0    0.000000

[1758 rows x 5 columns]

In [9]:
df_grouped.to_csv('C:\\Users\\thiag\\PycharmProjects\\genome\\data\\processed\\df_group_country.csv', float_format='%.2f%%', index=False)

In [10]:
a = df_grouped.groupby(by=['country'])['pct_change'].mean()
a

country
97    0.000000
AB    0.333333
AD    0.300000
AE    0.395788
AF    0.000000
        ...
ZA    0.419163
ZH    0.000000
ZJ    0.000000
ZM    0.000000
ZW    0.000000
Name: pct_change, Length: 296, dtype: float64

In [11]:
a.to_csv('C:\\Users\\thiag\\PycharmProjects\\genome\\data\\processed\\country_pct_change_mean.csv', float_format='%.2f%%', index=True)

In [29]:
df_country_ecosystem = df_raw_patents.groupby(by=['grant_year', 'country', 'ecosystem'])['patent_id'].nunique().rename('total_patents').reset_index()
df_country_ecosystem.sort_values(by=['grant_year', 'country'])

      grant_year country     ecosystem  total_patents
0           2012      AE     Abu Dhabi              7
1           2012      AE         Dubai              8
2           2012      AE       Sharjah              1
3           2012      AM       Yerevan              2
4           2012      AR  Buenos Aires             18
...          ...     ...           ...            ...
7360        2021      ZA     Cape Town             73
7361        2021      ZA        Durban             19
7362        2021      ZA  Johannesburg             92
7363        2021      ZA      Pretoria             49
7364        2021      ZH        Zurich              1

[7365 rows x 4 columns]

In [30]:
def test2(row):
    last_year = row['grant_year'] - 1
    country = row['country']
    ecosystem = row['ecosystem']

    last_total = df_country_ecosystem[
        (df_country_ecosystem['grant_year'] == last_year) &
        (df_country_ecosystem['country'] == country) &
        (df_country_ecosystem['ecosystem'] == ecosystem)
    ]['total_patents'].values

    if len(last_total) > 0:
        return last_total[0]
    else:
        return 0


df_country_ecosystem['last_total'] = df_country_ecosystem.apply(test2, axis=1)

In [31]:
df_country_ecosystem['pct_change'] = (df_country_ecosystem['total_patents'] - df_country_ecosystem['last_total']) / df_country_ecosystem['last_total']
df_country_ecosystem.sort_values(by=['country', 'grant_year'])

      grant_year country     ecosystem  total_patents  last_total  pct_change
534         2013      AB      Edmonton              1           0         inf
1947        2015      AB      Edmonton              1           0         inf
2718        2016      AB      Edmonton              1           1    0.000000
0           2012      AE     Abu Dhabi              7           0         inf
1           2012      AE         Dubai              8           0         inf
...          ...     ...           ...            ...         ...         ...
7363        2021      ZA      Pretoria             49          42    0.166667
6592        2020      ZH  Philadelphia              1           0         inf
6593        2020      ZH        Zurich              1           0         inf
7364        2021      ZH        Zurich              1           1    0.000000
3494        2016      ZJ      Hangzhou              1           0         inf

[7365 rows x 6 columns]

In [32]:
df_country_ecosystem.replace(np.inf, 0, inplace=True)
df_country_ecosystem

      grant_year country     ecosystem  total_patents  last_total  pct_change
0           2012      AE     Abu Dhabi              7           0    0.000000
1           2012      AE         Dubai              8           0    0.000000
2           2012      AE       Sharjah              1           0    0.000000
3           2012      AM       Yerevan              2           0    0.000000
4           2012      AR  Buenos Aires             18           0    0.000000
...          ...     ...           ...            ...         ...         ...
7360        2021      ZA     Cape Town             73          78   -0.064103
7361        2021      ZA        Durban             19          20   -0.050000
7362        2021      ZA  Johannesburg             92          87    0.057471
7363        2021      ZA      Pretoria             49          42    0.166667
7364        2021      ZH        Zurich              1           1    0.000000

[7365 rows x 6 columns]

In [33]:
b = df_country_ecosystem[df_country_ecosystem['grant_year'] == 2016]
b

,grant_year,country,ecosystem,total_patents,last_total,pct_change
2718,2016,AB,Edmonton,1,1,0.000000
2719,2016,AE,Abu Dhabi,79,46,0.717391
2720,2016,AE,Dubai,67,63,0.063492
2721,2016,AE,Ras Al-Khaimah,2,0,0.000000
2722,2016,AE,Sharjah,17,2,7.500000
...,...,...,...,...,...,...
3490,2016,ZA,Cape Town,90,94,-0.042553
3491,2016,ZA,Durban,15,19,-0.210526
3492,2016,ZA,Johannesburg,84,107,-0.214953
3493,2016,ZA,Pretoria,22,25,-0.120000
3494,2016,ZJ,Hangzhou,1,0,0.000000

In [34]:
df_country_ecosystem.to_csv('C:\\Users\\thiag\\PycharmProjects\\genome\\data\\processed\\df_group_country_ecosystem.csv', float_format='%.2f%%', index=False)

In [ ]:
df_grouped_app_year = df_raw_patents.groupby('app_year')['patent_id'].nunique().rename('total_app_year').reset_index()
df_grouped_app_year.head(5)

In [5]:
df_grouped_grant_year = df_raw_patents.groupby('grant_year')['patent_id'].nunique().rename('total_grant_year').reset_index()
df_grouped_grant_year.head(5)

   grant_year  total_grant_year
0        2012             87517
1        2013            229937
2        2014            363139
3        2015            376640
4        2016            371319

In [7]:
df_grouped_year = pd.merge(df_grouped_app_year, df_grouped_grant_year, left_on='app_year', right_on='grant_year')
df_grouped_year.rename(columns={'app_year': 'year'}, inplace=True)
df_grouped_year.drop('grant_year', axis=1, inplace=True)

df_grouped_year

   year  total_app_year  total_grant_year
0  2012          342096             87517
1  2013          369761            229937
2  2014          374618            363139
3  2015          375410            376640
4  2016          375349            371319
5  2017          386096            371274
6  2018          386818            373298
7  2019          378895            391506
8  2020          270666            409227
9  2021          121874            407726

In [8]:
df_grouped_year.to_csv('C:\\Users\\thiag\\PycharmProjects\\genome\\data\\processed\\total_by_year.csv')