In [1]:
import pandas as pd
from src.utils.UsefulPaths import Paths

In [2]:
paths = Paths()
data_path = paths.raw_parquet_list_of_companies

In [3]:
df = pd.read_parquet(data_path)
df.head(5)

  axialhealthcare.com United States Nashville Axial Healthcare
0        athearth.com         Japan         1         Athearth
1     madebykawet.com        France     Paris            Kawet
2      vw-aabenraa.dk       Denmark  Aabenraa             None
3        de.babor.com       Germany    Aachen             None
4          kisters.de       Germany    Aachen          KISTERS

In [4]:
df_rows, df_columns = df.shape
print(f'Rows: {df_rows:,} rows | Columns: {df_columns}')

Rows: 4,236,726 rows | Columns: 4

In [5]:
print(f'Null values for each column:\n{df.isnull().sum()}')

Null values for each column:
axialhealthcare.com          0
United States          1193088
Nashville              1391237
Axial Healthcare       1678911
dtype: int64

In [6]:
print(f'Null value percentages for each column:\n{df.isnull().mean() * 100}')

Null value percentages for each column:
axialhealthcare.com     0.000000
United States          28.160613
Nashville              32.837550
Axial Healthcare       39.627557
dtype: float64

In [7]:
df_null = df[df.isnull().any(axis=1)]

In [8]:
print(f'Duplicated rows sum:\n{df.duplicated().sum()}')

Duplicated rows sum:
50

In [9]:
df_duplicated = df[df.duplicated(keep=False)]
df_duplicated.head()

       axialhealthcare.com United States     Nashville Axial Healthcare
36052   terraquantum.swiss   Switzerland  Saint Gallen    Terra Quantum
36053   terraquantum.swiss   Switzerland  Saint Gallen    Terra Quantum
79234            zwcad.com         China      Guangzho             None
79235            zwcad.com         China      Guangzho             None
143163      dawnhealth.com       Denmark    Copenhagen      Dawn Health