In [11]:
import pandas as pd
from src.utils.UsefulPaths import Paths

In [12]:
paths = Paths()
data_path = paths.raw_parquet_raw_patents

In [13]:
df = pd.read_parquet(data_path)
df.head(5)

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
0,20140380145,Rajiv,Puranik,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco
1,20140380145,Thomas,Wilsher,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco
2,20140380219,John,CARTAN,Alameda,US,2014-12-25T00:00:00.000Z,2014,2014-06-20T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,AlamedaUnited States,Silicon Valley,Alameda
3,20150000186,Barry,Freel,Ottawa,CA,2015-01-01T00:00:00.000Z,2015,2014-09-16T00:00:00.000Z,2014,1.0,C10L,1.0,C10L,Canada,OttawaCanada,Ottawa,Ottawa
4,20150000186,Robert,Graham,Ottawa,CA,2015-01-01T00:00:00.000Z,2015,2014-09-16T00:00:00.000Z,2014,1.0,C10L,1.0,C10L,Canada,OttawaCanada,Ottawa,Ottawa

In [14]:
df_rows, df_columns = df.shape
print(f'Rows: {df_rows:,} rows | Columns: {df_columns}')

Rows: 9,830,924 rows | Columns: 17

In [15]:
print(f'Null values for each column:\n{df.isnull().sum()}')

Null values for each column:
patent_id                         0
name_first                      104
name_last                      1716
city                            600
country                          47
grant_date                        0
grant_year                        0
app_date                          0
app_year                          0
class_distinct_count          40367
class_concat                  40367
class_IPC_distinct_count      40367
class_IPC_concat              49597
CountryName                     492
CityCountry                       0
Ecosystem                   2522799
GoogleCity                  2396608
dtype: int64

In [16]:
print(f'Null value percentages for each column:\n{df.isnull().mean() * 100}')

Null value percentages for each column:
patent_id                    0.000000
name_first                   0.001058
name_last                    0.017455
city                         0.006103
country                      0.000478
grant_date                   0.000000
grant_year                   0.000000
app_date                     0.000000
app_year                     0.000000
class_distinct_count         0.410612
class_concat                 0.410612
class_IPC_distinct_count     0.410612
class_IPC_concat             0.504500
CountryName                  0.005005
CityCountry                  0.000000
Ecosystem                   25.661871
GoogleCity                  24.378258
dtype: float64

In [17]:
df_null = df[df.isnull().any(axis=1)]

In [18]:
print(f'Duplicated rows sum:\n{df.duplicated().sum()}')

Duplicated rows sum:
1041

In [19]:
df_duplicated = df[df.duplicated(keep=False)]
df_duplicated.head()

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
6298,20150296389,Lauri,WIROLA,Tampere,FI,2015-10-15T00:00:00.000Z,2015,2015-06-25T00:00:00.000Z,2015,1.0,H04W,1.0,H04W,Finland,TampereFinland,None,Tampere
6299,20150296389,Lauri,WIROLA,Tampere,FI,2015-10-15T00:00:00.000Z,2015,2015-06-25T00:00:00.000Z,2015,1.0,H04W,1.0,H04W,Finland,TampereFinland,None,Tampere
36993,20190137880,Seung,LEE,Daegu,KR,2019-05-09T00:00:00.000Z,2019,2017-04-26T00:00:00.000Z,2017,1.0,G03F,1.0,G03F,"Korea, Republic of","DaeguKorea, Republic of",Busan,Daeg
36994,20190137880,Seung,LEE,Daegu,KR,2019-05-09T00:00:00.000Z,2019,2017-04-26T00:00:00.000Z,2017,1.0,G03F,1.0,G03F,"Korea, Republic of","DaeguKorea, Republic of",Busan,Daeg
42588,20190386270,Byoung,Lee,Daejeon,KR,2019-12-19T00:00:00.000Z,2019,2018-05-23T00:00:00.000Z,2018,1.0,H01M,1.0,H01M,"Korea, Republic of","DaejeonKorea, Republic of",None,Daejeon