In [5]:
# Importando dependências externas
import pandas as pd
from src.utils.UsefulPaths import Paths

In [6]:
# Criando variável para armazenar o caminho dos dados
paths = Paths()
data_path = paths.raw_parquet_raw_patents

In [7]:
# Criando e visualizando o dataframe
df = pd.read_parquet(data_path)
df.head(5)

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
0,20140380145,Rajiv,Puranik,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco
1,20140380145,Thomas,Wilsher,San Francisco,US,2014-12-25T00:00:00.000Z,2014,2014-05-08T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,San FranciscoUnited States,Silicon Valley,San Francisco
2,20140380219,John,CARTAN,Alameda,US,2014-12-25T00:00:00.000Z,2014,2014-06-20T00:00:00.000Z,2014,1.0,G06F,1.0,G06F,United States,AlamedaUnited States,Silicon Valley,Alameda
3,20150000186,Barry,Freel,Ottawa,CA,2015-01-01T00:00:00.000Z,2015,2014-09-16T00:00:00.000Z,2014,1.0,C10L,1.0,C10L,Canada,OttawaCanada,Ottawa,Ottawa
4,20150000186,Robert,Graham,Ottawa,CA,2015-01-01T00:00:00.000Z,2015,2014-09-16T00:00:00.000Z,2014,1.0,C10L,1.0,C10L,Canada,OttawaCanada,Ottawa,Ottawa

In [8]:
# Visualizando a dimensão do dataframe
df_rows, df_columns = df.shape
print(f'Rows: {df_rows:,} rows | Columns: {df_columns}')

Rows: 9,830,924 rows | Columns: 17

In [9]:
# Contando valores nulos por coluna do dataframe
print(f'Null values for each column:\n{df.isnull().sum()}')

Null values for each column:
patent_id                         0
name_first                      104
name_last                      1716
city                            591
country                          47
grant_date                        0
grant_year                        0
app_date                          0
app_year                          0
class_distinct_count          40367
class_concat                  40367
class_IPC_distinct_count      40367
class_IPC_concat              49597
CountryName                     492
CityCountry                       0
Ecosystem                   2522799
GoogleCity                  2396599
dtype: int64

In [10]:
# Visualizando valores nulos por coluna de forma percentual
print(f'Null value percentages for each column:\n{df.isnull().mean() * 100}')

Null value percentages for each column:
patent_id                    0.000000
name_first                   0.001058
name_last                    0.017455
city                         0.006012
country                      0.000478
grant_date                   0.000000
grant_year                   0.000000
app_date                     0.000000
app_year                     0.000000
class_distinct_count         0.410612
class_concat                 0.410612
class_IPC_distinct_count     0.410612
class_IPC_concat             0.504500
CountryName                  0.005005
CityCountry                  0.000000
Ecosystem                   25.661871
GoogleCity                  24.378166
dtype: float64

In [16]:
# NÃO ENTENDI ESSA PARTE. THIAGO, PODE DETALHAR?
df_null = df[df.isnull().any(axis=1)]
print(df_null)

           patent_id name_first       name_last              city country  \
5        20150000320    Akihiro        Fujiwara         Sakai-shi      JP
6        20150000320   Hirokazu          Fujino         Sakai-shi      JP
7        20150000320       Shin         Koizumi         Sakai-shi      JP
8        20150000320   Takayuki         Hyoudou         Sakai-shi      JP
9        20150000320      Teruo            Kido         Sakai-shi      JP
...              ...        ...             ...               ...     ...
9830903  20140379760        Roy          Martin          Saratoga      US
9830906  20140379867  Dai-boong             LEE       Hwaseong-si      KR
9830909  20140380102    Jeffrey          Daudel  So. San Franciso      US
9830918  20140380113      Payam          Pakzad    Mountaiin View      US
9830919  20140380134    Lalitha  Venkataramanan         Lexington      US

                       grant_date  grant_year                  app_date  \
5        2015-01-01T00:00:00.000Z        2015  2012-12-12T00:00:00.000Z
6        2015-01-01T00:00:00.000Z        2015  2012-12-12T00:00:00.000Z
7        2015-01-01T00:00:00.000Z        2015  2012-12-12T00:00:00.000Z
8        2015-01-01T00:00:00.000Z        2015  2012-12-12T00:00:00.000Z
9        2015-01-01T00:00:00.000Z        2015  2012-12-12T00:00:00.000Z
...                           ...         ...                       ...
9830903  2014-12-25T00:00:00.000Z        2014  2013-06-20T00:00:00.000Z
9830906  2014-12-25T00:00:00.000Z        2014  2014-02-21T00:00:00.000Z
9830909  2014-12-25T00:00:00.000Z        2014  2014-08-18T00:00:00.000Z
9830918  2014-12-25T00:00:00.000Z        2014  2014-04-04T00:00:00.000Z
9830919  2014-12-25T00:00:00.000Z        2014  2013-01-30T00:00:00.000Z

         app_year  class_distinct_count    class_concat  \
5            2012                   2.0       F28D,F28F
6            2012                   2.0       F28D,F28F
7            2012                   2.0       F28D,F28F
8            2012                   2.0       F28D,F28F
9            2012                   2.0       F28D,F28F
...           ...                   ...             ...
9830903      2013                   1.0            G06F
9830906      2014                   1.0            H04L
9830909      2014                   1.0            G06F
9830918      2014                   2.0       H04L,H03M
9830919      2013                   3.0  H04B,G06F,G01V

         class_IPC_distinct_count class_IPC_concat         CountryName  \
5                             2.0        F28D,F28F               Japan
6                             2.0        F28D,F28F               Japan
7                             2.0        F28D,F28F               Japan
8                             2.0        F28D,F28F               Japan
9                             2.0        F28D,F28F               Japan
...                           ...              ...                 ...
9830903                       1.0             G06F       United States
9830906                       1.0             H04L  Korea, Republic of
9830909                       1.0             G06F       United States
9830918                       2.0        H03M,H04L       United States
9830919                       3.0   G01V,G06F,H04B       United States

                           CityCountry Ecosystem GoogleCity
5                       Sakai-shiJapan      None       None
6                       Sakai-shiJapan      None       None
7                       Sakai-shiJapan      None       None
8                       Sakai-shiJapan      None       None
9                       Sakai-shiJapan      None       None
...                                ...       ...        ...
9830903          SaratogaUnited States      None       None
9830906  Hwaseong-siKorea, Republic of      None       None
9830909   So San FrancisoUnited States      None       None
9830918    Mountaiin ViewUnited States      None       None
9830919         LexingtonUnited States      None  Lexington

[3267234 rows x 17 columns]

In [12]:
# Visualizando qtd de valores duplicados
print(f'Duplicated rows sum:\n{df.duplicated().sum()}')

Duplicated rows sum:
1041

In [13]:
# Visualizando os valores duplicados
df_duplicated = df[df.duplicated(keep=False)]
df_duplicated.head()

,patent_id,name_first,name_last,city,country,grant_date,grant_year,app_date,app_year,class_distinct_count,class_concat,class_IPC_distinct_count,class_IPC_concat,CountryName,CityCountry,Ecosystem,GoogleCity
6298,20150296389,Lauri,WIROLA,Tampere,FI,2015-10-15T00:00:00.000Z,2015,2015-06-25T00:00:00.000Z,2015,1.0,H04W,1.0,H04W,Finland,TampereFinland,None,Tampere
6299,20150296389,Lauri,WIROLA,Tampere,FI,2015-10-15T00:00:00.000Z,2015,2015-06-25T00:00:00.000Z,2015,1.0,H04W,1.0,H04W,Finland,TampereFinland,None,Tampere
36993,20190137880,Seung,LEE,Daegu,KR,2019-05-09T00:00:00.000Z,2019,2017-04-26T00:00:00.000Z,2017,1.0,G03F,1.0,G03F,"Korea, Republic of","DaeguKorea, Republic of",Busan,Daeg
36994,20190137880,Seung,LEE,Daegu,KR,2019-05-09T00:00:00.000Z,2019,2017-04-26T00:00:00.000Z,2017,1.0,G03F,1.0,G03F,"Korea, Republic of","DaeguKorea, Republic of",Busan,Daeg
42588,20190386270,Byoung,Lee,Daejeon,KR,2019-12-19T00:00:00.000Z,2019,2018-05-23T00:00:00.000Z,2018,1.0,H01M,1.0,H01M,"Korea, Republic of","DaejeonKorea, Republic of",None,Daejeon

In [14]:
# Agrupando por ecossistema e por ano

ecosystems = df.groupby(['Ecosystem', 'grant_year'])['patent_id'].count().reset_index(name='Number of Patents')
ecosystems.head(20)

    Ecosystem  grant_year  Number of Patents
0     Abidjan        2016                  1
1     Abidjan        2019                  1
2   Abu Dhabi        2012                  7
3   Abu Dhabi        2013                 33
4   Abu Dhabi        2014                 44
5   Abu Dhabi        2015                 83
6   Abu Dhabi        2016                157
7   Abu Dhabi        2017                 74
8   Abu Dhabi        2018                109
9   Abu Dhabi        2019                 69
10  Abu Dhabi        2020                110
11  Abu Dhabi        2021                170
12      Abuja        2015                  1
13      Abuja        2020                  3
14      Accra        2013                  1
15      Accra        2014                 23
16      Accra        2015                 10
17      Accra        2017                  2
18      Accra        2018                  3
19      Accra        2020                  2