In [1]:
import pandas as pd
from src.utils.UsefulPaths import Paths

In [2]:
paths = Paths()
data_path = paths.raw_parquet_table_for_applicants

In [3]:
df = pd.read_parquet(data_path)
df.head(5)

   20130080687 Siamack Nemazie Los Altos Hills  US  2013
0  20130080687     NGON VAN LE         Fremont  US  2013
1  20130031357    Dieter Weiss         Munchen  DE  2013
2  20130031357  Gisela Meister         Munchen  DE  2013
3  20130031357    Jan Eichholz         Munchen  DE  2013
4  20130031357  Florian Gawlas         Munchen  DE  2013

In [4]:
df_rows, df_columns = df.shape
print(f'Rows: {df_rows:,} rows | Columns: {df_columns}')

Rows: 1,417,243 rows | Columns: 5

In [5]:
print(f'Null values for each column:\n{df.isnull().sum()}')

Null values for each column:
20130080687           0
Siamack Nemazie       0
Los Altos Hills    6645
US                   10
2013                  0
dtype: int64

In [6]:
print(f'Null value percentages for each column:\n{df.isnull().mean() * 100}')

Null value percentages for each column:
20130080687        0.000000
Siamack Nemazie    0.000000
Los Altos Hills    0.468868
US                 0.000706
2013               0.000000
dtype: float64

In [7]:
df_null = df[df.isnull().any(axis=1)]

In [8]:
print(f'Duplicated rows sum:\n{df.duplicated().sum()}')

Duplicated rows sum:
103

In [9]:
df_duplicated = df[df.duplicated(keep=False)]
df_duplicated.head()

       20130080687      Siamack Nemazie        Los Altos Hills  US  2013
12963  20140138242  Martin John Neumann                Memphis  US  2014
12971  20140138242  Martin John Neumann                Memphis  US  2014
15684  20150121569      Jerome CAVAILLE  ROMONVILLE SAINT AGNE  FR  2015
15685  20150121569      Jerome CAVAILLE  ROMONVILLE SAINT AGNE  FR  2015
44199  20200375886              Ping Li                Beijing  CN  2020